<div class="customer-confirm-booking-container1">
  <div class="customer-confirm-booking-thq-customer-confirm-booking-elm">
    <div class="customer-confirm-booking-thq-customer-layout-elm1">
      <div class="customer-confirm-booking-thq-customer-reservations-elm1">
        <div class="customer-confirm-booking-thq-container-elm10">
          <div class="customer-confirm-booking-thq-container-elm11">
            <img
              src="/assets/icon4518-6txw.svg"
              alt="Icon4518"
              class="customer-confirm-booking-thq-icon-elm10"
            />
          </div>
          <div class="customer-confirm-booking-thq-heading3-elm">
            <span class="customer-confirm-booking-thq-text-elm10">
              Final Review
            </span>
          </div>
          <div class="customer-confirm-booking-thq-paragraph-elm10">
            <span class="customer-confirm-booking-thq-text-elm11">
              La Cuisine Moderne
            </span>
          </div>
          <div class="customer-confirm-booking-thq-container-elm12">
            <div class="customer-confirm-booking-thq-container-elm13">
              <div class="customer-confirm-booking-thq-container-elm14">
                <div class="customer-confirm-booking-thq-paragraph-elm11">
                  <span class="customer-confirm-booking-thq-text-elm12">
                    Date &amp; Time
                  </span>
                </div>
                <div class="customer-confirm-booking-thq-paragraph-elm12">
                  <span class="customer-confirm-booking-thq-text-elm13">
                    2026-03-13
                  </span>
                </div>
                <div class="customer-confirm-booking-thq-paragraph-elm13">
                  <span class="customer-confirm-booking-thq-text-elm14">
                    7:00 PM
                  </span>
                </div>
              </div>
              <img
                src="/assets/icon4520-41ip.svg"
                alt="Icon4520"
                class="customer-confirm-booking-thq-icon-elm11"
              />
            </div>
            <div class="customer-confirm-booking-thq-container-elm15">
              <div class="customer-confirm-booking-thq-container-elm16">
                <div class="customer-confirm-booking-thq-paragraph-elm14">
                  <span class="customer-confirm-booking-thq-text-elm15">
                    Table
                  </span>
                </div>
                <div class="customer-confirm-booking-thq-paragraph-elm15">
                  <span class="customer-confirm-booking-thq-text-elm16">
                    W1
                  </span>
                </div>
                <div class="customer-confirm-booking-thq-paragraph-elm16">
                  <span class="customer-confirm-booking-thq-text-elm17">
                    window area
                  </span>
                </div>
              </div>
              <div class="customer-confirm-booking-thq-container-elm17">
                <div class="customer-confirm-booking-thq-paragraph-elm17">
                  <span class="customer-confirm-booking-thq-text-elm18">
                    Guests
                  </span>
                </div>
                <div class="customer-confirm-booking-thq-paragraph-elm18"></div>
                <div class="customer-confirm-booking-thq-paragraph-elm19">
                  <span class="customer-confirm-booking-thq-text-elm19">
                    Capacity: 2
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="customer-confirm-booking-thq-container-elm18">
            <img
              src="/assets/icon4522-q0zq.svg"
              alt="Icon4522"
              class="customer-confirm-booking-thq-icon-elm12"
            />
            <div class="customer-confirm-booking-thq-paragraph-elm20">
              <span class="customer-confirm-booking-thq-text-elm20">
                123 Gourmet Street, Downtown
              </span>
              <span class="customer-confirm-booking-thq-text-elm21">
                Please arrive 10 mins early.
              </span>
            </div>
          </div>
          <button class="customer-confirm-booking-thq-button-elm1">
            <span class="customer-confirm-booking-thq-text-elm22">
              Secure Reservation
            </span>
          </button>
          <div class="customer-confirm-booking-thq-container-elm19"></div>
        </div>
      </div>
    </div>
    <div class="customer-confirm-booking-thq-customer-layout-elm2">
      <div class="customer-confirm-booking-thq-container-elm20">
        <div class="customer-confirm-booking-thq-link-elm1">
          <img
            src="/assets/icon4523-22j9.svg"
            alt="Icon4523"
            class="customer-confirm-booking-thq-icon-elm13"
          />
          <div class="customer-confirm-booking-thq-customer-layout-elm3">
            <span class="customer-confirm-booking-thq-text-elm23">Home</span>
          </div>
        </div>
        <div class="customer-confirm-booking-thq-link-elm2">
          <img
            src="/assets/icon4524-j45a.svg"
            alt="Icon4524"
            class="customer-confirm-booking-thq-icon-elm14"
          />
          <div class="customer-confirm-booking-thq-customer-layout-elm4">
            <span class="customer-confirm-booking-thq-text-elm24">Menu</span>
          </div>
        </div>
        <div class="customer-confirm-booking-thq-link-elm3">
          <img
            src="/assets/icon4524-0chi.svg"
            alt="Icon4524"
            class="customer-confirm-booking-thq-icon-elm15"
          />
          <div class="customer-confirm-booking-thq-customer-layout-elm5">
            <span class="customer-confirm-booking-thq-text-elm25">
              Reservations
            </span>
          </div>
        </div>
        <div class="customer-confirm-booking-thq-link-elm4">
          <img
            src="/assets/icon4525-u5l.svg"
            alt="Icon4525"
            class="customer-confirm-booking-thq-icon-elm16"
          />
          <div class="customer-confirm-booking-thq-customer-layout-elm6">
            <span class="customer-confirm-booking-thq-text-elm26">Profile</span>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-confirm-booking-thq-customer-layout-elm7">
      <div class="customer-confirm-booking-thq-container-elm21">
        <div class="customer-confirm-booking-thq-container-elm22">
          <img
            src="/assets/icon4526-0is.svg"
            alt="Icon4526"
            class="customer-confirm-booking-thq-icon-elm17"
          />
        </div>
        <div class="customer-confirm-booking-thq-text-elm27">
          <span class="customer-confirm-booking-thq-text-elm28">Gastros</span>
        </div>
      </div>
      <button class="customer-confirm-booking-thq-button-elm2">
        <img
          src="/assets/icon4527-atxq.svg"
          alt="Icon4527"
          class="customer-confirm-booking-thq-icon-elm18"
        />
      </button>
    </div>
    <div class="customer-confirm-booking-thq-customer-reservations-elm2">
      <button class="customer-confirm-booking-thq-button-elm3">
        <img
          src="/assets/icon4527-0gc.svg"
          alt="Icon4527"
          class="customer-confirm-booking-thq-icon-elm19"
        />
      </button>
      <div class="customer-confirm-booking-thq-heading2-elm">
        <span class="customer-confirm-booking-thq-text-elm29">
          Confirm Booking
        </span>
      </div>
    </div>
  </div>
  <a
    href="https://play.teleporthq.io/signup"
    class="customer-confirm-booking-link"
  >
    <div
      aria-label="Sign up to TeleportHQ"
      class="customer-confirm-booking-container2"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="customer-confirm-booking-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="customer-confirm-booking-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
