<div class="staff-payment-history-container1">
  <div class="staff-payment-history-thq-staff-payment-history-elm">
    <div class="staff-payment-history-thq-staff-layout-elm1">
      <div class="staff-payment-history-thq-header-elm">
        <div class="staff-payment-history-thq-container-elm10">
          <div class="staff-payment-history-thq-container-elm11">
            <div class="staff-payment-history-thq-heading2-elm1">
              <span class="staff-payment-history-thq-text-elm10">
                Staff POS System
              </span>
            </div>
            <div class="staff-payment-history-thq-paragraph-elm1">
              <span class="staff-payment-history-thq-text-elm11">
                Table &amp; Order Management
              </span>
            </div>
          </div>
          <button class="staff-payment-history-thq-button-elm10">
            <img
              src="/assets/icon3510-5p2e.svg"
              alt="Icon3510"
              class="staff-payment-history-thq-icon-elm10"
            />
            <div class="staff-payment-history-thq-text-elm12">
              <span class="staff-payment-history-thq-text-elm13">Logout</span>
            </div>
          </button>
        </div>
      </div>
      <div class="staff-payment-history-thq-staff-payments-elm">
        <div class="staff-payment-history-thq-container-elm12">
          <div class="staff-payment-history-thq-container-elm13">
            <div class="staff-payment-history-thq-container-elm14">
              <div class="staff-payment-history-thq-heading2-elm2">
                <span class="staff-payment-history-thq-text-elm14">
                  Payment History
                </span>
              </div>
              <div class="staff-payment-history-thq-paragraph-elm2">
                <span class="staff-payment-history-thq-text-elm15">
                  Manage &amp; audit past transactions
                </span>
              </div>
            </div>
          </div>
          <div class="staff-payment-history-thq-container-elm15">
            <div class="staff-payment-history-thq-container-elm16">
              <div class="staff-payment-history-thq-paragraph-elm3">
                <span class="staff-payment-history-thq-text-elm16">
                  Total Sales (Today)
                </span>
              </div>
              <div class="staff-payment-history-thq-paragraph-elm4">
                <span class="staff-payment-history-thq-text-elm17">
                  $602.10
                </span>
              </div>
            </div>
            <div class="staff-payment-history-thq-container-elm17">
              <img
                src="/assets/icon3510-xn57.svg"
                alt="Icon3510"
                class="staff-payment-history-thq-icon-elm11"
              />
            </div>
            <div class="staff-payment-history-thq-container-elm18"></div>
          </div>
        </div>
        <div class="staff-payment-history-thq-container-elm19">
          <div class="staff-payment-history-thq-container-elm20">
            <button class="staff-payment-history-thq-button-elm11">
              <span class="staff-payment-history-thq-text-elm18">all</span>
            </button>
            <button class="staff-payment-history-thq-button-elm12">
              <span class="staff-payment-history-thq-text-elm19">cash</span>
            </button>
            <button class="staff-payment-history-thq-button-elm13">
              <span class="staff-payment-history-thq-text-elm20">card</span>
            </button>
            <button class="staff-payment-history-thq-button-elm14">
              <span class="staff-payment-history-thq-text-elm21">mobile</span>
            </button>
          </div>
          <button class="staff-payment-history-thq-button-elm15">
            <img
              src="/assets/icon3510-btxp.svg"
              alt="Icon3510"
              class="staff-payment-history-thq-icon-elm12"
            />
            <span class="staff-payment-history-thq-text-elm22">Export</span>
          </button>
          <div class="staff-payment-history-thq-container-elm21">
            <input
              type="text"
              placeholder="Search by table or receipt ID..."
              class="staff-payment-history-thq-text-input-elm"
            />
            <img
              src="/assets/icon3510-gnck.svg"
              alt="Icon3510"
              class="staff-payment-history-thq-icon-elm13"
            />
          </div>
        </div>
        <div class="staff-payment-history-thq-container-elm22">
          <div class="staff-payment-history-thq-table-elm">
            <div class="staff-payment-history-thq-table-header-elm">
              <div class="staff-payment-history-thq-table-row-elm1">
                <div class="staff-payment-history-thq-header-cell-elm1">
                  <span class="staff-payment-history-thq-text-elm23">
                    Receipt ID
                  </span>
                </div>
                <div class="staff-payment-history-thq-header-cell-elm2">
                  <span class="staff-payment-history-thq-text-elm24">
                    Table
                  </span>
                </div>
                <div class="staff-payment-history-thq-header-cell-elm3">
                  <span class="staff-payment-history-thq-text-elm25">
                    Amount
                  </span>
                </div>
                <div class="staff-payment-history-thq-header-cell-elm4">
                  <span class="staff-payment-history-thq-text-elm26">
                    Method
                  </span>
                </div>
                <div class="staff-payment-history-thq-header-cell-elm5">
                  <span class="staff-payment-history-thq-text-elm27">Time</span>
                </div>
                <div class="staff-payment-history-thq-header-cell-elm6">
                  <span class="staff-payment-history-thq-text-elm28">
                    Server
                  </span>
                </div>
                <div class="staff-payment-history-thq-header-cell-elm7">
                  <span class="staff-payment-history-thq-text-elm29">
                    Action
                  </span>
                </div>
              </div>
            </div>
            <div class="staff-payment-history-thq-table-body-elm">
              <div class="staff-payment-history-thq-table-row-elm2">
                <div class="staff-payment-history-thq-table-cell-elm10">
                  <div class="staff-payment-history-thq-container-elm23">
                    <div class="staff-payment-history-thq-container-elm24">
                      <img
                        src="/assets/icon3511-fhw.svg"
                        alt="Icon3511"
                        class="staff-payment-history-thq-icon-elm14"
                      />
                    </div>
                    <div class="staff-payment-history-thq-text-elm30">
                      <span class="staff-payment-history-thq-text-elm31">
                        R-T1-892134
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm11">
                  <div class="staff-payment-history-thq-container-elm25">
                    <span class="staff-payment-history-thq-text-elm32">T1</span>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm12">
                  <span class="staff-payment-history-thq-text-elm33">
                    $86.00
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm13">
                  <div class="staff-payment-history-thq-container-elm26">
                    <img
                      src="/assets/icon3511-ln3f.svg"
                      alt="Icon3511"
                      class="staff-payment-history-thq-icon-elm15"
                    />
                    <div class="staff-payment-history-thq-text-elm34">
                      <span class="staff-payment-history-thq-text-elm35">
                        card
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm14">
                  <span class="staff-payment-history-thq-text-elm36">
                    12:45 PM
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm15">
                  <span class="staff-payment-history-thq-text-elm37">
                    John D.
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm16">
                  <button class="staff-payment-history-thq-button-elm16">
                    <img
                      src="/assets/icon3511-t3q.svg"
                      alt="Icon3511"
                      class="staff-payment-history-thq-icon-elm16"
                    />
                  </button>
                </div>
              </div>
              <div class="staff-payment-history-thq-table-row-elm3">
                <div class="staff-payment-history-thq-table-cell-elm17">
                  <div class="staff-payment-history-thq-container-elm27">
                    <div class="staff-payment-history-thq-container-elm28">
                      <img
                        src="/assets/icon3511-jdie.svg"
                        alt="Icon3511"
                        class="staff-payment-history-thq-icon-elm17"
                      />
                    </div>
                    <div class="staff-payment-history-thq-text-elm38">
                      <span class="staff-payment-history-thq-text-elm39">
                        R-T4-892145
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm18">
                  <div class="staff-payment-history-thq-container-elm29">
                    <span class="staff-payment-history-thq-text-elm40">T4</span>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm19">
                  <span class="staff-payment-history-thq-text-elm41">
                    $124.50
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm20">
                  <div class="staff-payment-history-thq-container-elm30">
                    <img
                      src="/assets/icon3511-dih.svg"
                      alt="Icon3511"
                      class="staff-payment-history-thq-icon-elm18"
                    />
                    <div class="staff-payment-history-thq-text-elm42">
                      <span class="staff-payment-history-thq-text-elm43">
                        cash
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm21">
                  <span class="staff-payment-history-thq-text-elm44">
                    1:15 PM
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm22">
                  <span class="staff-payment-history-thq-text-elm45">
                    Sarah K.
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm23">
                  <button class="staff-payment-history-thq-button-elm17">
                    <img
                      src="/assets/icon3511-zxnl.svg"
                      alt="Icon3511"
                      class="staff-payment-history-thq-icon-elm19"
                    />
                  </button>
                </div>
              </div>
              <div class="staff-payment-history-thq-table-row-elm4">
                <div class="staff-payment-history-thq-table-cell-elm24">
                  <div class="staff-payment-history-thq-container-elm31">
                    <div class="staff-payment-history-thq-container-elm32">
                      <img
                        src="/assets/icon3511-8u8d.svg"
                        alt="Icon3511"
                        class="staff-payment-history-thq-icon-elm20"
                      />
                    </div>
                    <div class="staff-payment-history-thq-text-elm46">
                      <span class="staff-payment-history-thq-text-elm47">
                        R-T6-892156
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm25">
                  <div class="staff-payment-history-thq-container-elm33">
                    <span class="staff-payment-history-thq-text-elm48">T6</span>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm26">
                  <span class="staff-payment-history-thq-text-elm49">
                    $35.20
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm27">
                  <div class="staff-payment-history-thq-container-elm34">
                    <img
                      src="/assets/icon3511-km2.svg"
                      alt="Icon3511"
                      class="staff-payment-history-thq-icon-elm21"
                    />
                    <div class="staff-payment-history-thq-text-elm50">
                      <span class="staff-payment-history-thq-text-elm51">
                        mobile
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm28">
                  <span class="staff-payment-history-thq-text-elm52">
                    1:30 PM
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm29">
                  <span class="staff-payment-history-thq-text-elm53">
                    John D.
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm30">
                  <button class="staff-payment-history-thq-button-elm18">
                    <img
                      src="/assets/icon3512-jivj.svg"
                      alt="Icon3512"
                      class="staff-payment-history-thq-icon-elm22"
                    />
                  </button>
                </div>
              </div>
              <div class="staff-payment-history-thq-table-row-elm5">
                <div class="staff-payment-history-thq-table-cell-elm31">
                  <div class="staff-payment-history-thq-container-elm35">
                    <div class="staff-payment-history-thq-container-elm36">
                      <img
                        src="/assets/icon3512-da7.svg"
                        alt="Icon3512"
                        class="staff-payment-history-thq-icon-elm23"
                      />
                    </div>
                    <div class="staff-payment-history-thq-text-elm54">
                      <span class="staff-payment-history-thq-text-elm55">
                        R-T2-892167
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm32">
                  <div class="staff-payment-history-thq-container-elm37">
                    <span class="staff-payment-history-thq-text-elm56">T2</span>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm33">
                  <span class="staff-payment-history-thq-text-elm57">
                    $54.00
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm34">
                  <div class="staff-payment-history-thq-container-elm38">
                    <img
                      src="/assets/icon3512-zvlo.svg"
                      alt="Icon3512"
                      class="staff-payment-history-thq-icon-elm24"
                    />
                    <div class="staff-payment-history-thq-text-elm58">
                      <span class="staff-payment-history-thq-text-elm59">
                        card
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm35">
                  <span class="staff-payment-history-thq-text-elm60">
                    2:05 PM
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm36">
                  <span class="staff-payment-history-thq-text-elm61">
                    Mike R.
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm37">
                  <button class="staff-payment-history-thq-button-elm19">
                    <img
                      src="/assets/icon3512-zde.svg"
                      alt="Icon3512"
                      class="staff-payment-history-thq-icon-elm25"
                    />
                  </button>
                </div>
              </div>
              <div class="staff-payment-history-thq-table-row-elm6">
                <div class="staff-payment-history-thq-table-cell-elm38">
                  <div class="staff-payment-history-thq-container-elm39">
                    <div class="staff-payment-history-thq-container-elm40">
                      <img
                        src="/assets/icon3512-wre.svg"
                        alt="Icon3512"
                        class="staff-payment-history-thq-icon-elm26"
                      />
                    </div>
                    <div class="staff-payment-history-thq-text-elm62">
                      <span class="staff-payment-history-thq-text-elm63">
                        R-T9-892178
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm39">
                  <div class="staff-payment-history-thq-container-elm41">
                    <span class="staff-payment-history-thq-text-elm64">T9</span>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm40">
                  <span class="staff-payment-history-thq-text-elm65">
                    $210.00
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm41">
                  <div class="staff-payment-history-thq-container-elm42">
                    <img
                      src="/assets/icon3512-j2t.svg"
                      alt="Icon3512"
                      class="staff-payment-history-thq-icon-elm27"
                    />
                    <div class="staff-payment-history-thq-text-elm66">
                      <span class="staff-payment-history-thq-text-elm67">
                        card
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm42">
                  <span class="staff-payment-history-thq-text-elm68">
                    2:45 PM
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm43">
                  <span class="staff-payment-history-thq-text-elm69">
                    Sarah K.
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm44">
                  <button class="staff-payment-history-thq-button-elm20">
                    <img
                      src="/assets/icon3512-u25.svg"
                      alt="Icon3512"
                      class="staff-payment-history-thq-icon-elm28"
                    />
                  </button>
                </div>
              </div>
              <div class="staff-payment-history-thq-table-row-elm7">
                <div class="staff-payment-history-thq-table-cell-elm45">
                  <div class="staff-payment-history-thq-container-elm43">
                    <div class="staff-payment-history-thq-container-elm44">
                      <img
                        src="/assets/icon3512-j9ej.svg"
                        alt="Icon3512"
                        class="staff-payment-history-thq-icon-elm29"
                      />
                    </div>
                    <div class="staff-payment-history-thq-text-elm70">
                      <span class="staff-payment-history-thq-text-elm71">
                        R-T3-892189
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm46">
                  <div class="staff-payment-history-thq-container-elm45">
                    <span class="staff-payment-history-thq-text-elm72">T3</span>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm47">
                  <span class="staff-payment-history-thq-text-elm73">
                    $92.40
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm48">
                  <div class="staff-payment-history-thq-container-elm46">
                    <img
                      src="/assets/icon3512-o6ib.svg"
                      alt="Icon3512"
                      class="staff-payment-history-thq-icon-elm30"
                    />
                    <div class="staff-payment-history-thq-text-elm74">
                      <span class="staff-payment-history-thq-text-elm75">
                        cash
                      </span>
                    </div>
                  </div>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm49">
                  <span class="staff-payment-history-thq-text-elm76">
                    3:10 PM
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm50">
                  <span class="staff-payment-history-thq-text-elm77">
                    John D.
                  </span>
                </div>
                <div class="staff-payment-history-thq-table-cell-elm51">
                  <button class="staff-payment-history-thq-button-elm21">
                    <img
                      src="/assets/icon3512-z6l.svg"
                      alt="Icon3512"
                      class="staff-payment-history-thq-icon-elm31"
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="staff-payment-history-thq-staff-layout-elm2">
      <div class="staff-payment-history-thq-link-elm1">
        <img
          src="/assets/icon3512-gyec.svg"
          alt="Icon3512"
          class="staff-payment-history-thq-icon-elm32"
        />
        <div class="staff-payment-history-thq-staff-layout-elm3">
          <span class="staff-payment-history-thq-text-elm78">Tables</span>
        </div>
      </div>
      <div class="staff-payment-history-thq-link-elm2">
        <img
          src="/assets/icon3513-doir.svg"
          alt="Icon3513"
          class="staff-payment-history-thq-icon-elm33"
        />
        <div class="staff-payment-history-thq-staff-layout-elm4">
          <span class="staff-payment-history-thq-text-elm79">
            Payments History
          </span>
        </div>
      </div>
      <div class="staff-payment-history-thq-link-elm3">
        <img
          src="/assets/icon3513-m7b.svg"
          alt="Icon3513"
          class="staff-payment-history-thq-icon-elm34"
        />
        <div class="staff-payment-history-thq-staff-layout-elm5">
          <span class="staff-payment-history-thq-text-elm80">Shift</span>
        </div>
      </div>
    </div>
  </div>
  <a
    href="https://play.teleporthq.io/signup"
    class="staff-payment-history-link"
  >
    <div
      aria-label="Sign up to TeleportHQ"
      class="staff-payment-history-container2"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="staff-payment-history-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="staff-payment-history-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
