<div class="customer-menu-container1">
  <div class="customer-menu-thq-customer-menu-elm1">
    <div class="customer-menu-thq-customer-layout-elm1">
      <div class="customer-menu-thq-customer-menu-elm2">
        <button class="customer-menu-thq-button-elm10">
          <div class="customer-menu-thq-container-elm10">
            <div class="customer-menu-thq-heading4-elm1">
              <span class="customer-menu-thq-text-elm10">Truffle Pasta</span>
            </div>
            <div class="customer-menu-thq-paragraph-elm1">
              <span class="customer-menu-thq-text-elm11">$28</span>
            </div>
          </div>
          <div class="customer-menu-thq-container-elm11">
            <div class="customer-menu-thq-image-with-fallback-elm1"></div>
          </div>
        </button>
        <button class="customer-menu-thq-button-elm11">
          <div class="customer-menu-thq-container-elm12">
            <div class="customer-menu-thq-heading4-elm2">
              <span class="customer-menu-thq-text-elm12">Grilled Salmon</span>
            </div>
            <div class="customer-menu-thq-paragraph-elm2">
              <span class="customer-menu-thq-text-elm13">$35</span>
            </div>
          </div>
          <div class="customer-menu-thq-container-elm13">
            <div class="customer-menu-thq-image-with-fallback-elm2"></div>
          </div>
        </button>
        <button class="customer-menu-thq-button-elm12">
          <div class="customer-menu-thq-container-elm14">
            <div class="customer-menu-thq-image-with-fallback-elm3"></div>
          </div>
          <div class="customer-menu-thq-container-elm15">
            <div class="customer-menu-thq-heading4-elm3">
              <span class="customer-menu-thq-text-elm14">Wagyu Steak</span>
            </div>
            <div class="customer-menu-thq-paragraph-elm3">
              <span class="customer-menu-thq-text-elm15">$65</span>
            </div>
          </div>
        </button>
        <button class="customer-menu-thq-button-elm13">
          <div class="customer-menu-thq-container-elm16">
            <div class="customer-menu-thq-image-with-fallback-elm4"></div>
          </div>
          <div class="customer-menu-thq-container-elm17">
            <div class="customer-menu-thq-heading4-elm4">
              <span class="customer-menu-thq-text-elm16">Caesar Salad</span>
            </div>
            <div class="customer-menu-thq-paragraph-elm4">
              <span class="customer-menu-thq-text-elm17">$14</span>
            </div>
          </div>
        </button>
        <button class="customer-menu-thq-button-elm14">
          <div class="customer-menu-thq-container-elm18">
            <div class="customer-menu-thq-image-with-fallback-elm5"></div>
          </div>
          <div class="customer-menu-thq-container-elm19">
            <div class="customer-menu-thq-heading4-elm5">
              <span class="customer-menu-thq-text-elm18">Lobster Bisque</span>
            </div>
            <div class="customer-menu-thq-paragraph-elm5">
              <span class="customer-menu-thq-text-elm19">$18</span>
            </div>
          </div>
        </button>
        <button class="customer-menu-thq-button-elm15">
          <div class="customer-menu-thq-container-elm20">
            <div class="customer-menu-thq-image-with-fallback-elm6"></div>
          </div>
          <div class="customer-menu-thq-container-elm21">
            <div class="customer-menu-thq-heading4-elm6">
              <span class="customer-menu-thq-text-elm20">Chocolate Lava</span>
            </div>
            <div class="customer-menu-thq-paragraph-elm6">
              <span class="customer-menu-thq-text-elm21">$12</span>
            </div>
          </div>
        </button>
        <button class="customer-menu-thq-button-elm16">
          <div class="customer-menu-thq-container-elm22">
            <div class="customer-menu-thq-image-with-fallback-elm7"></div>
          </div>
          <div class="customer-menu-thq-container-elm23">
            <div class="customer-menu-thq-heading4-elm7">
              <span class="customer-menu-thq-text-elm22">Tiramisu</span>
            </div>
            <div class="customer-menu-thq-paragraph-elm7">
              <span class="customer-menu-thq-text-elm23">$10</span>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="customer-menu-thq-customer-layout-elm2">
      <div class="customer-menu-thq-container-elm24">
        <div class="customer-menu-thq-link-elm1">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3544"
            class="customer-menu-thq-icon-elm1"
          />
          <div class="customer-menu-thq-customer-layout-elm3">
            <span class="customer-menu-thq-text-elm24">Home</span>
          </div>
        </div>
        <div class="customer-menu-thq-link-elm2">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3544"
            class="customer-menu-thq-icon-elm2"
          />
          <div class="customer-menu-thq-customer-layout-elm4">
            <span class="customer-menu-thq-text-elm25">Menu</span>
          </div>
        </div>
        <div class="customer-menu-thq-link-elm3">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3545"
            class="customer-menu-thq-icon-elm3"
          />
          <div class="customer-menu-thq-customer-layout-elm5">
            <span class="customer-menu-thq-text-elm26">Reservations</span>
          </div>
        </div>
        <div class="customer-menu-thq-link-elm4">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3546"
            class="customer-menu-thq-icon-elm4"
          />
          <div class="customer-menu-thq-customer-layout-elm6">
            <span class="customer-menu-thq-text-elm27">Profile</span>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-menu-thq-customer-menu-elm3">
      <div class="customer-menu-thq-heading2-elm">
        <span class="customer-menu-thq-text-elm28">Our Menu</span>
      </div>
    </div>
    <div class="customer-menu-thq-customer-menu-elm4">
      <button class="customer-menu-thq-button-elm17">
        <span class="customer-menu-thq-text-elm29">All</span>
      </button>
      <button class="customer-menu-thq-button-elm18">
        <span class="customer-menu-thq-text-elm30">Appetizers</span>
      </button>
      <button class="customer-menu-thq-button-elm19">
        <span class="customer-menu-thq-text-elm31">Mains</span>
      </button>
      <button class="customer-menu-thq-button-elm20">
        <span class="customer-menu-thq-text-elm32">Desserts</span>
      </button>
    </div>
    <div class="customer-menu-thq-customer-layout-elm7">
      <div class="customer-menu-thq-container-elm25">
        <div class="customer-menu-thq-container-elm26">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3548"
            class="customer-menu-thq-icon-elm5"
          />
        </div>
        <div class="customer-menu-thq-text-elm33">
          <span class="customer-menu-thq-text-elm34">Gastros</span>
        </div>
      </div>
      <button class="customer-menu-thq-button-elm21">
        <img
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          alt="Icon3549"
          class="customer-menu-thq-icon-elm6"
        />
      </button>
    </div>
  </div>
  <a href="https://play.teleporthq.io/signup" class="customer-menu-link">
    <div aria-label="Sign up to TeleportHQ" class="customer-menu-container2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="customer-menu-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="customer-menu-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
