<div class="staff-table-form-container1">
  <div class="staff-table-form-thq-staff-table-form-elm">
    <div class="staff-table-form-thq-staff-layout-elm1">
      <div class="staff-table-form-thq-header-elm">
        <div class="staff-table-form-thq-container-elm1">
          <div class="staff-table-form-thq-container-elm2">
            <div class="staff-table-form-thq-heading2-elm">
              <span class="staff-table-form-thq-text-elm10">
                Staff POS System
              </span>
            </div>
            <div class="staff-table-form-thq-paragraph-elm">
              <span class="staff-table-form-thq-text-elm11">
                Table &amp; Order Management
              </span>
            </div>
          </div>
          <button class="staff-table-form-thq-button-elm1">
            <img
              src="/assets/icon4542-e5pl.svg"
              alt="Icon4542"
              class="staff-table-form-thq-icon-elm1"
            />
            <div class="staff-table-form-thq-text-elm12">
              <span class="staff-table-form-thq-text-elm13">Logout</span>
            </div>
          </button>
        </div>
      </div>
      <div class="staff-table-form-thq-staff-tables-elm1"></div>
    </div>
    <div class="staff-table-form-thq-staff-layout-elm2">
      <div class="staff-table-form-thq-link-elm1">
        <img
          src="/assets/icon4543-zoeb.svg"
          alt="Icon4543"
          class="staff-table-form-thq-icon-elm2"
        />
        <div class="staff-table-form-thq-staff-layout-elm3">
          <span class="staff-table-form-thq-text-elm14">Tables</span>
        </div>
      </div>
      <div class="staff-table-form-thq-link-elm2">
        <img
          src="/assets/icon4544-mzii.svg"
          alt="Icon4544"
          class="staff-table-form-thq-icon-elm3"
        />
        <div class="staff-table-form-thq-staff-layout-elm4">
          <span class="staff-table-form-thq-text-elm15">Payments History</span>
        </div>
      </div>
      <div class="staff-table-form-thq-link-elm3">
        <img
          src="/assets/icon4545-6fv.svg"
          alt="Icon4545"
          class="staff-table-form-thq-icon-elm4"
        />
        <div class="staff-table-form-thq-staff-layout-elm5">
          <span class="staff-table-form-thq-text-elm16">Shift</span>
        </div>
      </div>
    </div>
    <div class="staff-table-form-thq-staff-tables-elm2"></div>
    <div class="staff-table-form-thq-staff-tables-elm3">
      <div class="staff-table-form-thq-heading3-elm">
        <span class="staff-table-form-thq-text-elm17">Open Table T1</span>
      </div>
      <div class="staff-table-form-thq-container-elm3">
        <div class="staff-table-form-thq-label-elm">
          <img
            src="/assets/icon4546-jgsb.svg"
            alt="Icon4546"
            class="staff-table-form-thq-icon-elm5"
          />
          <span class="staff-table-form-thq-text-elm18">Number of Guests</span>
        </div>
        <div class="staff-table-form-thq-container-elm4">
          <button class="staff-table-form-thq-button-elm2"></button>
          <div class="staff-table-form-thq-text-elm19"></div>
          <button class="staff-table-form-thq-button-elm3"></button>
        </div>
      </div>
      <div class="staff-table-form-thq-container-elm5">
        <button class="staff-table-form-thq-button-elm4">
          <span class="staff-table-form-thq-text-elm20">Cancel</span>
        </button>
        <button class="staff-table-form-thq-button-elm5">
          <img
            src="/assets/icon4547-qeua.svg"
            alt="Icon4547"
            class="staff-table-form-thq-icon-elm6"
          />
          <span class="staff-table-form-thq-text-elm21">Start</span>
        </button>
      </div>
    </div>
  </div>
  <a href="https://play.teleporthq.io/signup" class="staff-table-form-link">
    <div aria-label="Sign up to TeleportHQ" class="staff-table-form-container2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="staff-table-form-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="staff-table-form-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
