<div class="registerform-container1">
  <div class="registerform-thq-registerform-elm">
    <div class="registerform-thq-auth-home-elm">
      <div class="registerform-thq-container-elm10">
        <div class="registerform-thq-image-restaurant-interior-elm"></div>
        <div class="registerform-thq-container-elm11"></div>
        <div class="registerform-thq-container-elm12">
          <div class="registerform-thq-container-elm13">
            <div class="registerform-thq-container-elm14">
              <img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Icon3518"
                class="registerform-thq-icon-elm1"
              />
            </div>
            <div class="registerform-thq-heading2-elm">
              <span class="registerform-thq-text-elm10">Gastros</span>
            </div>
          </div>
          <div class="registerform-thq-heading3-elm">
            <span class="registerform-thq-text-elm11">
              Manage your flavors
              <span [innerHTML]="rawnk7m"></span>
            </span>
            <span class="registerform-thq-text-elm12">anywhere you are.</span>
          </div>
          <div class="registerform-thq-paragraph-elm1">
            <span class="registerform-thq-text-elm13">
              The all-in-one platform for rapid restaurant operations, bookings,
              and analytics.
            </span>
          </div>
        </div>
      </div>
      <div class="registerform-thq-container-elm15">
        <div class="registerform-thq-container-elm16">
          <button class="registerform-thq-button-elm1">
            <img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Icon3520"
              class="registerform-thq-icon-elm2"
            />
            <div class="registerform-thq-text-elm14">
              <span class="registerform-thq-text-elm15">Back to Login</span>
            </div>
          </button>
          <div class="registerform-thq-heading1-elm">
            <span class="registerform-thq-text-elm16">Create Account</span>
          </div>
          <div class="registerform-thq-paragraph-elm2">
            <span class="registerform-thq-text-elm17">
              Join our restaurant network
            </span>
          </div>
          <div class="registerform-thq-container-elm17">
            <button class="registerform-thq-button-elm2">
              <img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Icon3521"
                class="registerform-thq-icon-elm3"
              />
              <span class="registerform-thq-text-elm18">Customer</span>
            </button>
            <button class="registerform-thq-button-elm3">
              <img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Icon3521"
                class="registerform-thq-icon-elm4"
              />
              <span class="registerform-thq-text-elm19">Staff</span>
            </button>
          </div>
          <div class="registerform-thq-form-elm">
            <div class="registerform-thq-container-elm18">
              <div class="registerform-thq-label-elm1">
                <span class="registerform-thq-text-elm20">Full Name</span>
              </div>
              <input
                type="text"
                placeholder="John Doe"
                class="registerform-thq-text-input-elm1"
              />
            </div>
            <div class="registerform-thq-container-elm19">
              <div class="registerform-thq-label-elm2">
                <span class="registerform-thq-text-elm21">Email or Phone</span>
              </div>
              <input
                type="text"
                placeholder="you@email.com or +1..."
                class="registerform-thq-text-input-elm2"
              />
            </div>
            <div class="registerform-thq-container-elm20">
              <div class="registerform-thq-label-elm3">
                <span class="registerform-thq-text-elm22">Password</span>
              </div>
              <input
                type="text"
                placeholder="••••••••"
                class="registerform-thq-password-input-elm"
              />
            </div>
            <button class="registerform-thq-button-elm4">
              <span class="registerform-thq-text-elm23">
                Register as customer
              </span>
            </button>
          </div>
          <div class="registerform-thq-paragraph-elm3">
            <span class="registerform-thq-text-elm24">
              By creating an account, you agree to our
              <span [innerHTML]="raw4tin"></span>
            </span>
            <span class="registerform-thq-text-elm25">
              <span class="registerform-thq-text-elm26">Terms of Service</span>
              <span class="registerform-thq-text-elm27">
                and
                <span [innerHTML]="rawvq0d"></span>
              </span>
              <span>Privacy Policy</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="https://play.teleporthq.io/signup" class="registerform-link">
    <div aria-label="Sign up to TeleportHQ" class="registerform-container2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="registerform-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="registerform-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
