<div class="manager-dashboard-container1">
  <div class="manager-dashboard-thq-manager-dashboard-elm1">
    <div class="manager-dashboard-thq-manager-layout-elm1">
      <div class="manager-dashboard-thq-header-elm">
        <div class="manager-dashboard-thq-container-elm10">
          <div class="manager-dashboard-thq-container-elm11">
            <div class="manager-dashboard-thq-heading2-elm">
              <span class="manager-dashboard-thq-text-elm10">
                Manager Dashboard
              </span>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm10">
              <span class="manager-dashboard-thq-text-elm11">
                Restaurant Operations &amp; Analytics
              </span>
            </div>
          </div>
          <button class="manager-dashboard-thq-button-elm" (click)="logout()">
            <img
              src="/assets/icon3515-krii.svg"
              alt="Icon3515"
              class="manager-dashboard-thq-icon-elm10"
            />
            <div class="manager-dashboard-thq-text-elm12">
              <span class="manager-dashboard-thq-text-elm13">Logout</span>
            </div>
          </button>
        </div>
      </div>
      <div class="manager-dashboard-thq-manager-dashboard-elm2">
        <div class="manager-dashboard-thq-container-elm12">
          <div class="manager-dashboard-thq-container-elm13">
            <div class="manager-dashboard-thq-container-elm14">
              <div class="manager-dashboard-thq-container-elm15">
                <img
                  src="/assets/icon3515-7kx4.svg"
                  alt="Icon3515"
                  class="manager-dashboard-thq-icon-elm11"
                />
              </div>
              <img
                src="/assets/icon3515-mvcg.svg"
                alt="Icon3515"
                class="manager-dashboard-thq-icon-elm12"
              />
            </div>
            <div class="manager-dashboard-thq-paragraph-elm11">
              <span class="manager-dashboard-thq-text-elm14">
                Revenue Today
              </span>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm12">
              <span class="manager-dashboard-thq-text-elm15">$4850.00</span>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm13">
              <span class="manager-dashboard-thq-text-elm16">
                +12% vs yesterday
              </span>
            </div>
          </div>
          <div class="manager-dashboard-thq-container-elm16">
            <div class="manager-dashboard-thq-container-elm17">
              <div class="manager-dashboard-thq-container-elm18">
                <img
                  src="/assets/icon3515-ugjt.svg"
                  alt="Icon3515"
                  class="manager-dashboard-thq-icon-elm13"
                />
              </div>
              <img
                src="/assets/icon3515-6mwy.svg"
                alt="Icon3515"
                class="manager-dashboard-thq-icon-elm14"
              />
            </div>
            <div class="manager-dashboard-thq-paragraph-elm14">
              <span class="manager-dashboard-thq-text-elm17">
                Customers Today
              </span>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm15">
              <span class="manager-dashboard-thq-text-elm18">142</span>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm16">
              <span class="manager-dashboard-thq-text-elm19">
                +8% vs yesterday
              </span>
            </div>
          </div>
          <div class="manager-dashboard-thq-container-elm19">
            <div class="manager-dashboard-thq-container-elm20">
              <div class="manager-dashboard-thq-container-elm21">
                <img
                  src="/assets/icon3515-uuc.svg"
                  alt="Icon3515"
                  class="manager-dashboard-thq-icon-elm15"
                />
              </div>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm17">
              <span class="manager-dashboard-thq-text-elm20">
                Table Occupancy
              </span>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm18">
              <span class="manager-dashboard-thq-text-elm21">78%</span>
            </div>
            <div class="manager-dashboard-thq-container-elm22">
              <div class="manager-dashboard-thq-container-elm23"></div>
            </div>
          </div>
          <div class="manager-dashboard-thq-container-elm24">
            <div class="manager-dashboard-thq-container-elm25">
              <div class="manager-dashboard-thq-container-elm26">
                <img
                  src="/assets/icon3515-nupb.svg"
                  alt="Icon3515"
                  class="manager-dashboard-thq-icon-elm16"
                />
              </div>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm19">
              <span class="manager-dashboard-thq-text-elm22">
                Active Reservations
              </span>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm20">
              <span class="manager-dashboard-thq-text-elm23">18</span>
            </div>
            <div class="manager-dashboard-thq-paragraph-elm21">
              <span class="manager-dashboard-thq-text-elm24">
                For today &amp; tonight
              </span>
            </div>
          </div>
        </div>
        <div class="manager-dashboard-thq-container-elm27">
          <div class="manager-dashboard-thq-container-elm28">
            <div class="manager-dashboard-thq-heading3-elm1">
              <span class="manager-dashboard-thq-text-elm25">
                Revenue Trends
              </span>
            </div>
            <div class="manager-dashboard-thq-line-chart-elm">
              <div class="manager-dashboard-thq-surface-elm1">
                <div class="manager-dashboard-thq-group-elm10">
                  <div class="manager-dashboard-thq-group-elm11">
                    <img
                      src="/assets/vector3515-5e6g.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm10"
                    />
                    <img
                      src="/assets/vector3515-vy3r.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm11"
                    />
                    <img
                      src="/assets/vector3515-0xps.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm12"
                    />
                    <img
                      src="/assets/vector3515-rc0o.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm13"
                    />
                    <img
                      src="/assets/vector3515-1j1s.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm14"
                    />
                  </div>
                  <div class="manager-dashboard-thq-group-elm12">
                    <img
                      src="/assets/vector3515-zb5i.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm15"
                    />
                    <img
                      src="/assets/vector3515-m1ts.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm16"
                    />
                    <img
                      src="/assets/vector3515-tix5.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm17"
                    />
                    <img
                      src="/assets/vector3515-5b1.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm18"
                    />
                    <img
                      src="/assets/vector3515-n5gk.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm19"
                    />
                    <img
                      src="/assets/vector3515-7mtl.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm20"
                    />
                    <img
                      src="/assets/vector3515-some.svg"
                      alt="Vector3515"
                      class="manager-dashboard-thq-vector-elm21"
                    />
                  </div>
                </div>
                <div class="manager-dashboard-thq-group-elm13">
                  <img
                    src="/assets/vector3515-upsc.svg"
                    alt="Vector3515"
                    class="manager-dashboard-thq-vector-elm22"
                  />
                  <div class="manager-dashboard-thq-group-elm14">
                    <div class="manager-dashboard-thq-group-elm15">
                      <img
                        src="/assets/vector3516-pvyc.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm23"
                      />
                      <span class="manager-dashboard-thq-text-elm26">Mon</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm16">
                      <img
                        src="/assets/vector3516-qhlf.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm24"
                      />
                      <span class="manager-dashboard-thq-text-elm27">Tue</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm17">
                      <img
                        src="/assets/vector3516-vjf.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm25"
                      />
                      <span class="manager-dashboard-thq-text-elm28">Wed</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm18">
                      <img
                        src="/assets/vector3516-xd4k.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm26"
                      />
                      <span class="manager-dashboard-thq-text-elm29">Thu</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm19">
                      <img
                        src="/assets/vector3516-xtb3.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm27"
                      />
                      <span class="manager-dashboard-thq-text-elm30">Fri</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm20">
                      <img
                        src="/assets/vector3516-bx6.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm28"
                      />
                      <span class="manager-dashboard-thq-text-elm31">Sat</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm21">
                      <img
                        src="/assets/vector3516-kvwo.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm29"
                      />
                      <span class="manager-dashboard-thq-text-elm32">Sun</span>
                    </div>
                  </div>
                </div>
                <div class="manager-dashboard-thq-group-elm22">
                  <img
                    src="/assets/vector3516-g9vh.svg"
                    alt="Vector3516"
                    class="manager-dashboard-thq-vector-elm30"
                  />
                  <div class="manager-dashboard-thq-group-elm23">
                    <div class="manager-dashboard-thq-group-elm24">
                      <img
                        src="/assets/vector3516-qsya.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm31"
                      />
                    </div>
                    <div class="manager-dashboard-thq-group-elm25">
                      <img
                        src="/assets/vector3516-fzt.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm32"
                      />
                      <span class="manager-dashboard-thq-text-elm33">1500</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm26">
                      <img
                        src="/assets/vector3516-atoh.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm33"
                      />
                      <span class="manager-dashboard-thq-text-elm34">3000</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm27">
                      <img
                        src="/assets/vector3516-9hl.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm34"
                      />
                      <span class="manager-dashboard-thq-text-elm35">4500</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm28">
                      <img
                        src="/assets/vector3516-x70f.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm35"
                      />
                      <span class="manager-dashboard-thq-text-elm36">6000</span>
                    </div>
                  </div>
                </div>
                <div class="manager-dashboard-thq-group-elm29">
                  <img
                    src="/assets/vector3516-t7vd.svg"
                    alt="Vector3516"
                    class="manager-dashboard-thq-vector-elm36"
                  />
                  <div class="manager-dashboard-thq-group-elm30">
                    <img
                      src="/assets/vector3516-nhi.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm37"
                    />
                    <img
                      src="/assets/vector3516-ey2h.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm38"
                    />
                    <img
                      src="/assets/vector3516-lhcl.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm39"
                    />
                    <img
                      src="/assets/vector3516-09n.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm40"
                    />
                    <img
                      src="/assets/vector3516-107n.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm41"
                    />
                    <img
                      src="/assets/vector3516-8uju.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm42"
                    />
                    <img
                      src="/assets/vector3516-f9lm.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm43"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="manager-dashboard-thq-container-elm29">
            <div class="manager-dashboard-thq-heading3-elm2">
              <span class="manager-dashboard-thq-text-elm37">Peak Hours</span>
            </div>
            <div class="manager-dashboard-thq-bar-chart-elm">
              <div class="manager-dashboard-thq-surface-elm2">
                <div class="manager-dashboard-thq-group-elm31">
                  <div class="manager-dashboard-thq-group-elm32">
                    <img
                      src="/assets/vector3516-4btd.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm44"
                    />
                    <img
                      src="/assets/vector3516-d8ii.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm45"
                    />
                    <img
                      src="/assets/vector3516-rw8.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm46"
                    />
                    <img
                      src="/assets/vector3516-nfd4.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm47"
                    />
                    <img
                      src="/assets/vector3516-jtlp.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm48"
                    />
                  </div>
                  <div class="manager-dashboard-thq-group-elm33">
                    <img
                      src="/assets/vector3516-0jx.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm49"
                    />
                    <img
                      src="/assets/vector3516-4ycr.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm50"
                    />
                    <img
                      src="/assets/vector3516-vpyn.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm51"
                    />
                    <img
                      src="/assets/vector3516-gq0p.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm52"
                    />
                    <img
                      src="/assets/vector3516-lc7.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm53"
                    />
                    <img
                      src="/assets/vector3516-4iek.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm54"
                    />
                    <img
                      src="/assets/vector3516-t28l.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm55"
                    />
                    <img
                      src="/assets/vector3516-hvk.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm56"
                    />
                    <img
                      src="/assets/vector3516-l6v.svg"
                      alt="Vector3516"
                      class="manager-dashboard-thq-vector-elm57"
                    />
                  </div>
                </div>
                <div class="manager-dashboard-thq-group-elm34">
                  <img
                    src="/assets/vector3516-wbx7.svg"
                    alt="Vector3516"
                    class="manager-dashboard-thq-vector-elm58"
                  />
                  <div class="manager-dashboard-thq-group-elm35">
                    <div class="manager-dashboard-thq-group-elm36">
                      <img
                        src="/assets/vector3516-yr.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm59"
                      />
                      <span class="manager-dashboard-thq-text-elm38">
                        11 AM
                      </span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm37">
                      <img
                        src="/assets/vector3516-s47m.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm60"
                      />
                      <span class="manager-dashboard-thq-text-elm39">
                        12 PM
                      </span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm38">
                      <img
                        src="/assets/vector3516-d86.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm61"
                      />
                      <span class="manager-dashboard-thq-text-elm40">1 PM</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm39">
                      <img
                        src="/assets/vector3516-zl1l.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm62"
                      />
                      <span class="manager-dashboard-thq-text-elm41">6 PM</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm40">
                      <img
                        src="/assets/vector3516-7bpw.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm63"
                      />
                      <span class="manager-dashboard-thq-text-elm42">7 PM</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm41">
                      <img
                        src="/assets/vector3516-psz.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm64"
                      />
                      <span class="manager-dashboard-thq-text-elm43">8 PM</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm42">
                      <img
                        src="/assets/vector3516-dz5.svg"
                        alt="Vector3516"
                        class="manager-dashboard-thq-vector-elm65"
                      />
                      <span class="manager-dashboard-thq-text-elm44">9 PM</span>
                    </div>
                  </div>
                </div>
                <div class="manager-dashboard-thq-group-elm43">
                  <img
                    src="/assets/vector3516-vp2k.svg"
                    alt="Vector3516"
                    class="manager-dashboard-thq-vector-elm66"
                  />
                  <div class="manager-dashboard-thq-group-elm44">
                    <div class="manager-dashboard-thq-group-elm45">
                      <img
                        src="/assets/vector3517-o5z.svg"
                        alt="Vector3517"
                        class="manager-dashboard-thq-vector-elm67"
                      />
                    </div>
                    <div class="manager-dashboard-thq-group-elm46">
                      <img
                        src="/assets/vector3517-blbq.svg"
                        alt="Vector3517"
                        class="manager-dashboard-thq-vector-elm68"
                      />
                      <span class="manager-dashboard-thq-text-elm45">15</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm47">
                      <img
                        src="/assets/vector3517-ji4b.svg"
                        alt="Vector3517"
                        class="manager-dashboard-thq-vector-elm69"
                      />
                      <span class="manager-dashboard-thq-text-elm46">30</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm48">
                      <img
                        src="/assets/vector3517-mfq.svg"
                        alt="Vector3517"
                        class="manager-dashboard-thq-vector-elm70"
                      />
                      <span class="manager-dashboard-thq-text-elm47">45</span>
                    </div>
                    <div class="manager-dashboard-thq-group-elm49">
                      <img
                        src="/assets/vector3517-fwqi.svg"
                        alt="Vector3517"
                        class="manager-dashboard-thq-vector-elm71"
                      />
                      <span class="manager-dashboard-thq-text-elm48">60</span>
                    </div>
                  </div>
                </div>
                <div class="manager-dashboard-thq-group-elm50">
                  <div class="manager-dashboard-thq-group-elm51">
                    <div class="manager-dashboard-thq-group-elm52">
                      <div class="manager-dashboard-thq-group-elm53">
                        <img
                          src="/assets/vector3517-rpit.svg"
                          alt="Vector3517"
                          class="manager-dashboard-thq-vector-elm72"
                        />
                      </div>
                      <div class="manager-dashboard-thq-group-elm54">
                        <img
                          src="/assets/vector3517-0ytc.svg"
                          alt="Vector3517"
                          class="manager-dashboard-thq-vector-elm73"
                        />
                      </div>
                      <div class="manager-dashboard-thq-group-elm55">
                        <img
                          src="/assets/vector3517-y65d.svg"
                          alt="Vector3517"
                          class="manager-dashboard-thq-vector-elm74"
                        />
                      </div>
                      <div class="manager-dashboard-thq-group-elm56">
                        <img
                          src="/assets/vector3517-v4b4.svg"
                          alt="Vector3517"
                          class="manager-dashboard-thq-vector-elm75"
                        />
                      </div>
                      <div class="manager-dashboard-thq-group-elm57">
                        <img
                          src="/assets/vector3517-jjzy.svg"
                          alt="Vector3517"
                          class="manager-dashboard-thq-vector-elm76"
                        />
                      </div>
                      <div class="manager-dashboard-thq-group-elm58">
                        <img
                          src="/assets/vector3517-56ae.svg"
                          alt="Vector3517"
                          class="manager-dashboard-thq-vector-elm77"
                        />
                      </div>
                      <div class="manager-dashboard-thq-group-elm59">
                        <img
                          src="/assets/vector3517-d9h7h.svg"
                          alt="Vector3517"
                          class="manager-dashboard-thq-vector-elm78"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="manager-dashboard-thq-container-elm30">
          <div class="manager-dashboard-thq-container-elm31">
            <img
              src="/assets/icon3517-wcqg.svg"
              alt="Icon3517"
              class="manager-dashboard-thq-icon-elm17"
            />
            <div class="manager-dashboard-thq-heading3-elm3">
              <span class="manager-dashboard-thq-text-elm49">
                Inventory Alerts
              </span>
            </div>
          </div>
          <div class="manager-dashboard-thq-container-elm32">
            <div class="manager-dashboard-thq-container-elm33">
              <div class="manager-dashboard-thq-container-elm34">
                <div class="manager-dashboard-thq-paragraph-elm22">
                  <span class="manager-dashboard-thq-text-elm50">Salmon</span>
                </div>
                <div class="manager-dashboard-thq-text-elm51">
                  <span class="manager-dashboard-thq-text-elm52">Low</span>
                </div>
              </div>
              <div class="manager-dashboard-thq-paragraph-elm23">
                <span class="manager-dashboard-thq-text-elm53">
                  Remaining: 3 kg
                </span>
              </div>
            </div>
            <div class="manager-dashboard-thq-container-elm35">
              <div class="manager-dashboard-thq-container-elm36">
                <div class="manager-dashboard-thq-paragraph-elm24">
                  <span class="manager-dashboard-thq-text-elm54">
                    Truffle Oil
                  </span>
                </div>
                <div class="manager-dashboard-thq-text-elm55">
                  <span class="manager-dashboard-thq-text-elm56">Critical</span>
                </div>
              </div>
              <div class="manager-dashboard-thq-paragraph-elm25">
                <span class="manager-dashboard-thq-text-elm57">
                  Remaining: 0.5 L
                </span>
              </div>
            </div>
            <div class="manager-dashboard-thq-container-elm37">
              <div class="manager-dashboard-thq-container-elm38">
                <div class="manager-dashboard-thq-paragraph-elm26">
                  <span class="manager-dashboard-thq-text-elm58">Parmesan</span>
                </div>
                <div class="manager-dashboard-thq-text-elm59">
                  <span class="manager-dashboard-thq-text-elm60">Low</span>
                </div>
              </div>
              <div class="manager-dashboard-thq-paragraph-elm27">
                <span class="manager-dashboard-thq-text-elm61">
                  Remaining: 2 kg
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="manager-dashboard-thq-manager-layout-elm2">
      <div class="manager-dashboard-thq-link-elm1" (click)="navigateTo('/manager-dashboard')" style="cursor:pointer">
        <img
          src="/assets/icon3517-esgj.svg"
          alt="Icon3517"
          class="manager-dashboard-thq-icon-elm18"
        />
        <div class="manager-dashboard-thq-manager-layout-elm3">
          <span class="manager-dashboard-thq-text-elm62">Dashboard</span>
        </div>
      </div>
      <div class="manager-dashboard-thq-link-elm2" (click)="navigateTo('/manager-menu')" style="cursor:pointer">
        <img
          src="/assets/icon3517-z7s.svg"
          alt="Icon3517"
          class="manager-dashboard-thq-icon-elm19"
        />
        <div class="manager-dashboard-thq-manager-layout-elm4">
          <span class="manager-dashboard-thq-text-elm63">Menu</span>
        </div>
      </div>
      <div class="manager-dashboard-thq-link-elm3" (click)="navigateTo('/manager-tables')" style="cursor:pointer">
        <img
          src="/assets/icon3517-ray2.svg"
          alt="Icon3517"
          class="manager-dashboard-thq-icon-elm20"
        />
        <div class="manager-dashboard-thq-manager-layout-elm5">
          <span class="manager-dashboard-thq-text-elm64">Tables</span>
        </div>
      </div>
      <div class="manager-dashboard-thq-link-elm4" (click)="navigateTo('/manager-inventory')" style="cursor:pointer">
        <img
          src="/assets/icon3517-kimc.svg"
          alt="Icon3517"
          class="manager-dashboard-thq-icon-elm21"
        />
        <div class="manager-dashboard-thq-manager-layout-elm6">
          <span class="manager-dashboard-thq-text-elm65">Inventory</span>
        </div>
      </div>
      <div class="manager-dashboard-thq-link-elm5" (click)="navigateTo('/manager-report')" style="cursor:pointer">
        <img
          src="/assets/icon3518-lj6l.svg"
          alt="Icon3518"
          class="manager-dashboard-thq-icon-elm22"
        />
        <div class="manager-dashboard-thq-manager-layout-elm7">
          <span class="manager-dashboard-thq-text-elm66">Reports</span>
        </div>
      </div>
    </div>
  </div>

</div>
