<div class="customerbooking-container1">
  <div class="customerbooking-thq-customerbooking-elm">
    <div class="customerbooking-thq-customer-layout-elm1">
      <div class="customerbooking-thq-customer-reservations-elm1">
        <div class="customerbooking-thq-container-elm10">
          <div class="customerbooking-thq-container-elm11">
            <div class="customerbooking-thq-container-elm12">
              <div class="customerbooking-thq-label-elm1">
                <img
                  src="/assets/icon459-mkb.svg"
                  alt="Icon459"
                  class="customerbooking-thq-icon-elm10"
                />
                <span class="customerbooking-thq-text-elm10">Guest Count</span>
              </div>
              <div class="customerbooking-thq-container-elm13">
                <button class="customerbooking-thq-button-elm10"></button>
                <div class="customerbooking-thq-text-elm11"></div>
                <button class="customerbooking-thq-button-elm11"></button>
              </div>
            </div>
            <div class="customerbooking-thq-container-elm14">
              <div class="customerbooking-thq-container-elm15">
                <div class="customerbooking-thq-label-elm2">
                  <img
                    src="/assets/icon4525-fw84.svg"
                    alt="Icon4525"
                    class="customerbooking-thq-icon-elm11"
                  />
                  <span class="customerbooking-thq-text-elm12">Date</span>
                </div>
                <div class="customerbooking-thq-date-picker-elm"></div>
              </div>
              <div class="customerbooking-thq-container-elm16">
                <div class="customerbooking-thq-label-elm3">
                  <img
                    src="/assets/icon4534-6tvq.svg"
                    alt="Icon4534"
                    class="customerbooking-thq-icon-elm12"
                  />
                  <span class="customerbooking-thq-text-elm13">Time</span>
                </div>
                <div class="customerbooking-thq-dropdown-elm">
                  <div class="customerbooking-thq-option-elm1"></div>
                  <div class="customerbooking-thq-option-elm2"></div>
                  <div class="customerbooking-thq-option-elm3"></div>
                  <div class="customerbooking-thq-option-elm4"></div>
                  <div class="customerbooking-thq-option-elm5"></div>
                  <div class="customerbooking-thq-option-elm6"></div>
                  <div class="customerbooking-thq-option-elm7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="customerbooking-thq-container-elm17">
          <div class="customerbooking-thq-container-elm18">
            <div class="customerbooking-thq-heading3-elm">
              <img
                src="/assets/icon4549-utbu.svg"
                alt="Icon4549"
                class="customerbooking-thq-icon-elm13"
              />
              <span class="customerbooking-thq-text-elm14">
                Tap to Select Tables
              </span>
            </div>
            <div class="customerbooking-thq-container-elm19">
              <div class="customerbooking-thq-container-elm20"></div>
              <div class="customerbooking-thq-container-elm21"></div>
              <div class="customerbooking-thq-container-elm22"></div>
            </div>
          </div>
          <div class="customerbooking-thq-container-elm23">
            <div class="customerbooking-thq-container-elm24">
              <div class="customerbooking-thq-paragraph-elm1">
                <span class="customerbooking-thq-text-elm15">Main Dining</span>
              </div>
              <div class="customerbooking-thq-container-elm25">
                <button class="customerbooking-thq-button-elm12">
                  <div class="customerbooking-thq-text-elm16">
                    <span class="customerbooking-thq-text-elm17">C1</span>
                  </div>
                  <div class="customerbooking-thq-text-elm18">
                    <span class="customerbooking-thq-text-elm19">4P</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm13">
                  <div class="customerbooking-thq-text-elm20">
                    <span class="customerbooking-thq-text-elm21">C2</span>
                  </div>
                  <div class="customerbooking-thq-text-elm22">
                    <span class="customerbooking-thq-text-elm23">6P</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm14">
                  <div class="customerbooking-thq-text-elm24">
                    <span class="customerbooking-thq-text-elm25">C3</span>
                  </div>
                  <div class="customerbooking-thq-text-elm26">
                    <span class="customerbooking-thq-text-elm27">4P</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm15">
                  <div class="customerbooking-thq-text-elm28">
                    <span class="customerbooking-thq-text-elm29">C4</span>
                  </div>
                  <div class="customerbooking-thq-text-elm30">
                    <span class="customerbooking-thq-text-elm31">2P</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm16">
                  <div class="customerbooking-thq-text-elm32">
                    <span class="customerbooking-thq-text-elm33">C5</span>
                  </div>
                  <div class="customerbooking-thq-text-elm34">
                    <span class="customerbooking-thq-text-elm35">8P</span>
                  </div>
                </button>
              </div>
            </div>
            <div class="customerbooking-thq-container-elm26">
              <div class="customerbooking-thq-paragraph-elm2">
                <span class="customerbooking-thq-text-elm36">Garden Patio</span>
              </div>
              <div class="customerbooking-thq-container-elm27">
                <button class="customerbooking-thq-button-elm17">
                  <div class="customerbooking-thq-text-elm37">
                    <span class="customerbooking-thq-text-elm38">P1</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm18">
                  <div class="customerbooking-thq-text-elm39">
                    <span class="customerbooking-thq-text-elm40">P2</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm19">
                  <div class="customerbooking-thq-text-elm41">
                    <span class="customerbooking-thq-text-elm42">P3</span>
                  </div>
                </button>
              </div>
            </div>
            <div class="customerbooking-thq-container-elm28">
              <div class="customerbooking-thq-paragraph-elm3">
                <span class="customerbooking-thq-text-elm43">Window Side</span>
              </div>
              <div class="customerbooking-thq-container-elm29">
                <button class="customerbooking-thq-button-elm20">
                  <div class="customerbooking-thq-text-elm44">
                    <span class="customerbooking-thq-text-elm45">W1</span>
                  </div>
                  <div class="customerbooking-thq-text-elm46">
                    <span class="customerbooking-thq-text-elm47">2P</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm21">
                  <div class="customerbooking-thq-text-elm48">
                    <span class="customerbooking-thq-text-elm49">W2</span>
                  </div>
                  <div class="customerbooking-thq-text-elm50">
                    <span class="customerbooking-thq-text-elm51">2P</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm22">
                  <div class="customerbooking-thq-text-elm52">
                    <span class="customerbooking-thq-text-elm53">W3</span>
                  </div>
                  <div class="customerbooking-thq-text-elm54">
                    <span class="customerbooking-thq-text-elm55">4P</span>
                  </div>
                </button>
                <button class="customerbooking-thq-button-elm23">
                  <div class="customerbooking-thq-text-elm56">
                    <span class="customerbooking-thq-text-elm57">W4</span>
                  </div>
                  <div class="customerbooking-thq-text-elm58">
                    <span class="customerbooking-thq-text-elm59">6P</span>
                  </div>
                </button>
              </div>
              <div class="customerbooking-thq-container-elm30"></div>
            </div>
          </div>
        </div>
        <button class="customerbooking-thq-button-elm24">
          <span class="customerbooking-thq-text-elm60">
            Confirm Selection →
          </span>
        </button>
      </div>
    </div>
    <div class="customerbooking-thq-customer-layout-elm2">
      <div class="customerbooking-thq-container-elm31">
        <div class="customerbooking-thq-link-elm1">
          <img
            src="/assets/icon4513-vvjr.svg"
            alt="Icon4513"
            class="customerbooking-thq-icon-elm14"
          />
          <div class="customerbooking-thq-customer-layout-elm3">
            <span class="customerbooking-thq-text-elm61">Home</span>
          </div>
        </div>
        <div class="customerbooking-thq-link-elm2">
          <img
            src="/assets/icon4513-oh1.svg"
            alt="Icon4513"
            class="customerbooking-thq-icon-elm15"
          />
          <div class="customerbooking-thq-customer-layout-elm4">
            <span class="customerbooking-thq-text-elm62">Menu</span>
          </div>
        </div>
        <div class="customerbooking-thq-link-elm3">
          <img
            src="/assets/icon4514-b4eq.svg"
            alt="Icon4514"
            class="customerbooking-thq-icon-elm16"
          />
          <div class="customerbooking-thq-customer-layout-elm5">
            <span class="customerbooking-thq-text-elm63">Reservations</span>
          </div>
        </div>
        <div class="customerbooking-thq-link-elm4">
          <img
            src="/assets/icon4515-s7rj.svg"
            alt="Icon4515"
            class="customerbooking-thq-icon-elm17"
          />
          <div class="customerbooking-thq-customer-layout-elm6">
            <span class="customerbooking-thq-text-elm64">Profile</span>
          </div>
        </div>
      </div>
    </div>
    <div class="customerbooking-thq-customer-layout-elm7">
      <div class="customerbooking-thq-container-elm32">
        <div class="customerbooking-thq-container-elm33">
          <img
            src="/assets/icon4516-mny9.svg"
            alt="Icon4516"
            class="customerbooking-thq-icon-elm18"
          />
        </div>
        <div class="customerbooking-thq-text-elm65">
          <span class="customerbooking-thq-text-elm66">Gastros</span>
        </div>
      </div>
      <button class="customerbooking-thq-button-elm25">
        <img
          src="/assets/icon4517-1tua.svg"
          alt="Icon4517"
          class="customerbooking-thq-icon-elm19"
        />
      </button>
    </div>
    <div class="customerbooking-thq-customer-reservations-elm2">
      <button class="customerbooking-thq-button-elm26">
        <img
          src="/assets/icon4517-shi.svg"
          alt="Icon4517"
          class="customerbooking-thq-icon-elm20"
        />
      </button>
      <div class="customerbooking-thq-heading2-elm">
        <span class="customerbooking-thq-text-elm67">Book Your Table</span>
      </div>
    </div>
  </div>
  <a href="https://play.teleporthq.io/signup" class="customerbooking-link">
    <div aria-label="Sign up to TeleportHQ" class="customerbooking-container2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="customerbooking-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="customerbooking-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
