:host { 
  display: contents; 
}
 
.staff-shift-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.staff-shift-thq-staff-shift-elm1 {
  width: 100%;
  height: 1331px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.staff-shift-thq-staff-layout-elm1 {
  top: 0px;
  left: 0px;
  width: 1112px;
  height: 658.4000244140625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 245, 245, 1);
}
 
.staff-shift-thq-header-elm {
  top: 0px;
  left: 0px;
  width: 1112px;
  height: 86px;
  display: flex;
  padding: 16px 16px 0;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(45, 45, 45, 1);
}
 
.staff-shift-thq-container-elm10 {
  gap: 800px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.staff-shift-thq-container-elm11 {
  gap: 4px;
  width: 176px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-heading2-elm {
  width: 176px;
  height: 30px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.staff-shift-thq-text-elm10 {
  top: -2.1999988555908203px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm10 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm11 {
  color: rgba(255, 255, 255, 0.699999988079071);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-button-elm1 {
  gap: 8px;
  width: 104px;
  height: 36px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.10000000149011612);
}
 
.staff-shift-thq-icon-elm1 {
  width: 16px;
  height: 16px;
}
 
.staff-shift-thq-text-elm12 {
  height: 20px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-staff-shift-elm2 {
  gap: 23.999984741210938px;
  top: 144.40000915527344px;
  left: 44px;
  width: 1024px;
  height: 1186.5875244140625px;
  display: flex;
  padding: 24px 24px 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-container-elm12 {
  gap: 15.999984741210938px;
  height: 139px;
  display: flex;
  padding: 24px 24px 0;
  align-self: stretch;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.staff-shift-thq-container-elm13 {
  gap: 734.3999633789062px;
  display: flex;
  padding: 0 0.00000762939453125px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.staff-shift-thq-container-elm14 {
  gap: 4px;
  width: 118.4000015258789px;
  height: 51px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-heading3-elm1 {
  width: 118.4000015258789px;
  height: 27px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.staff-shift-thq-text-elm14 {
  top: -1.20001220703125px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm15 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm15 {
  width: 75.20000457763672px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26843500px;
  background-color: rgba(76, 175, 80, 1);
}
 
.staff-shift-thq-text-elm16 {
  top: 5.79998779296875px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm16 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-icon-elm2 {
  width: 20px;
  height: 20px;
}
 
.staff-shift-thq-text-elm17 {
  width: 121.5999984741211px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm18 {
  top: -2.199981689453125px;
  color: rgba(113, 113, 113, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm17 {
  width: 976px;
  height: 111.98750305175781px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.staff-shift-thq-container-elm18 {
  top: 0px;
  left: 0px;
  width: 315px;
  height: 111.98750305175781px;
  display: flex;
  padding: 24px 24px 0;
  position: absolute;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.staff-shift-thq-container-elm19 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-container-elm20 {
  width: 48px;
  height: 48px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26843500px;
  justify-content: center;
  background-color: rgba(255, 245, 242, 1);
}
 
.staff-shift-thq-icon-elm3 {
  width: 24px;
  height: 24px;
}
 
.staff-shift-thq-container-elm21 {
  width: 85.5999984741211px;
  height: 51.98749923706055px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-paragraph-elm12 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm19 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm13 {
  width: 85.5999984741211px;
  height: 31.98750114440918px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.staff-shift-thq-text-elm20 {
  top: -2.79998779296875px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm22 {
  top: 0px;
  left: 330.6625061035156px;
  width: 315px;
  height: 111.98750305175781px;
  display: flex;
  padding: 24px 24px 0;
  position: absolute;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.staff-shift-thq-container-elm23 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-container-elm24 {
  width: 48px;
  height: 48px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26843500px;
  justify-content: center;
  background-color: rgba(255, 245, 242, 1);
}
 
.staff-shift-thq-icon-elm4 {
  width: 24px;
  height: 24px;
}
 
.staff-shift-thq-container-elm25 {
  width: 111.20000457763672px;
  height: 51.98749923706055px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-paragraph-elm14 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm21 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm15 {
  width: 111.20000457763672px;
  height: 31.98750114440918px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.staff-shift-thq-text-elm22 {
  top: -2.79998779296875px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm26 {
  top: 0px;
  left: 661.3250122070312px;
  width: 315px;
  height: 111.98750305175781px;
  display: flex;
  padding: 24px 24px 0;
  position: absolute;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.staff-shift-thq-container-elm27 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-container-elm28 {
  width: 48px;
  height: 48px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26843500px;
  justify-content: center;
  background-color: rgba(255, 245, 242, 1);
}
 
.staff-shift-thq-icon-elm5 {
  width: 24px;
  height: 24px;
}
 
.staff-shift-thq-container-elm29 {
  width: 110.4000015258789px;
  height: 51.98749923706055px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-paragraph-elm16 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm23 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm17 {
  width: 110.4000015258789px;
  height: 31.98750114440918px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.staff-shift-thq-text-elm24 {
  top: -2.79998779296875px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm30 {
  gap: 16px;
  height: 499px;
  display: flex;
  padding: 24px 24px 0;
  align-self: stretch;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.staff-shift-thq-heading3-elm2 {
  width: 928px;
  height: 27px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.staff-shift-thq-text-elm25 {
  top: -1.20001220703125px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm31 {
  gap: 12px;
  height: 408px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-container-elm32 {
  gap: 733.5999755859375px;
  display: flex;
  padding: 0 16.000011444091797px 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
}
 
.staff-shift-thq-container-elm33 {
  gap: 16px;
  width: 115.20000457763672px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-container-elm34 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0 12.399998664855957px 0 12.400001525878906px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26843500px;
  justify-content: center;
  background-color: rgba(255, 245, 242, 1);
}
 
.staff-shift-thq-text-elm26 {
  width: 15.199999809265137px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm27 {
  color: rgba(255, 107, 53, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm35 {
  width: 59.20000076293945px;
  height: 35.98749923706055px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-paragraph-elm18 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm28 {
  color: rgba(45, 45, 45, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm19 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm29 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm36 {
  width: 47.20000076293945px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm30 {
  top: -2.20001220703125px;
  color: rgba(255, 107, 53, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm37 {
  gap: 724.7999877929688px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
}
 
.staff-shift-thq-container-elm38 {
  gap: 16px;
  width: 115.20000457763672px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-container-elm39 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0 12.399998664855957px 0 12.400001525878906px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26843500px;
  justify-content: center;
  background-color: rgba(255, 245, 242, 1);
}
 
.staff-shift-thq-text-elm31 {
  width: 15.199999809265137px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm32 {
  color: rgba(255, 107, 53, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm40 {
  width: 59.20000076293945px;
  height: 35.98749923706055px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-paragraph-elm20 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm33 {
  color: rgba(45, 45, 45, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm21 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm34 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm41 {
  width: 56px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm35 {
  top: -2.20001220703125px;
  color: rgba(255, 107, 53, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm42 {
  gap: 733.5999755859375px;
  display: flex;
  padding: 0 16.000011444091797px 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
}
 
.staff-shift-thq-container-elm43 {
  gap: 16px;
  width: 115.20000457763672px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-container-elm44 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0 12.399998664855957px 0 12.400001525878906px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26843500px;
  justify-content: center;
  background-color: rgba(255, 245, 242, 1);
}
 
.staff-shift-thq-text-elm36 {
  width: 15.199999809265137px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm37 {
  color: rgba(255, 107, 53, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm45 {
  width: 59.20000076293945px;
  height: 35.98749923706055px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-paragraph-elm22 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm38 {
  color: rgba(45, 45, 45, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm23 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm39 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm46 {
  width: 47.20000076293945px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm40 {
  top: -2.20001220703125px;
  color: rgba(255, 107, 53, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm47 {
  gap: 724.7999877929688px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
}
 
.staff-shift-thq-container-elm48 {
  gap: 16px;
  width: 115.20000457763672px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-container-elm49 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0 12.399998664855957px 0 12.400001525878906px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26843500px;
  justify-content: center;
  background-color: rgba(255, 245, 242, 1);
}
 
.staff-shift-thq-text-elm41 {
  width: 15.199999809265137px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm42 {
  color: rgba(255, 107, 53, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm50 {
  width: 59.20000076293945px;
  height: 35.98749923706055px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-paragraph-elm24 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm43 {
  color: rgba(45, 45, 45, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm25 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm44 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm51 {
  width: 56px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm45 {
  top: -2.20001220703125px;
  color: rgba(255, 107, 53, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm52 {
  gap: 733.5999755859375px;
  display: flex;
  padding: 0 16.000011444091797px 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
}
 
.staff-shift-thq-container-elm53 {
  gap: 16px;
  width: 115.20000457763672px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.staff-shift-thq-container-elm54 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0 12.399998664855957px 0 12.400001525878906px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26843500px;
  justify-content: center;
  background-color: rgba(255, 245, 242, 1);
}
 
.staff-shift-thq-text-elm46 {
  width: 15.199999809265137px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm47 {
  color: rgba(255, 107, 53, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm55 {
  width: 59.20000076293945px;
  height: 35.98749923706055px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-paragraph-elm26 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm48 {
  color: rgba(45, 45, 45, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-paragraph-elm27 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm49 {
  color: rgba(113, 113, 113, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm56 {
  width: 47.20000076293945px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm50 {
  top: -2.20001220703125px;
  color: rgba(255, 107, 53, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm57 {
  width: 976px;
  height: 316.6000061035156px;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 1);
}
 
.staff-shift-thq-heading3-elm3 {
  top: 24px;
  left: 24px;
  width: 928px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm51 {
  top: -1.20001220703125px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm58 {
  gap: 11.999927520751953px;
  top: 67.00006103515625px;
  left: 24px;
  width: 928px;
  height: 145.60000610351562px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.staff-shift-thq-container-elm59 {
  gap: 736.7999877929688px;
  display: flex;
  padding: 0 0.000011444091796875px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 0 0 0.800000011920929px;
  justify-content: space-between;
}
 
.staff-shift-thq-text-elm52 {
  width: 144px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm53 {
  top: -2.2000732421875px;
  color: rgba(113, 113, 113, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-text-elm54 {
  width: 47.20000076293945px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm55 {
  top: -2.2000732421875px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm60 {
  gap: 702.4000244140625px;
  display: flex;
  padding: 0 -0.0000152587890625px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 0 0 0.800000011920929px;
  justify-content: space-between;
}
 
.staff-shift-thq-text-elm56 {
  width: 148.8000030517578px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm57 {
  top: -2.199951171875px;
  color: rgba(113, 113, 113, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-text-elm58 {
  width: 76.80000305175781px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm59 {
  top: -2.199951171875px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-container-elm61 {
  gap: 806.4000244140625px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.staff-shift-thq-text-elm60 {
  width: 65.5999984741211px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm61 {
  top: -2.2000732421875px;
  color: rgba(113, 113, 113, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-text-elm62 {
  width: 56px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm63 {
  top: -2.2000732421875px;
  color: rgba(76, 175, 80, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-button-elm2 {
  top: 236.60003662109375px;
  left: 24px;
  width: 928px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
  background-color: rgba(45, 45, 45, 1);
}
 
.staff-shift-thq-icon-elm6 {
  top: 18px;
  left: 417.20001220703125px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.staff-shift-thq-text-elm64 {
  top: 13.7999267578125px;
  left: 443.20001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-staff-layout-elm2 {
  top: 86px;
  left: 0px;
  width: 1112px;
  height: 57.60000228881836px;
  display: flex;
  padding: 0 0.012481689453125px 0 0;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0 0 0.800000011920929px;
  background-color: rgba(255, 255, 255, 1);
}
 
.staff-shift-thq-link-elm1 {
  gap: 8px;
  height: 57.60000228881836px;
  display: flex;
  padding: 0 150.13751220703125px 0 150.125px;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 0 0 1.600000023841858px;
  justify-content: center;
}
 
.staff-shift-thq-icon-elm7 {
  width: 20px;
  height: 20px;
}
 
.staff-shift-thq-staff-layout-elm3 {
  width: 42.400001525878906px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm65 {
  top: -2.1999969482421875px;
  color: rgba(113, 113, 113, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-link-elm2 {
  gap: 8px;
  height: 57.60000228881836px;
  display: flex;
  padding: 0 110.93751525878906px 0 110.92498779296875px;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 0 0 1.600000023841858px;
  justify-content: center;
}
 
.staff-shift-thq-icon-elm8 {
  width: 20px;
  height: 20px;
}
 
.staff-shift-thq-staff-layout-elm4 {
  width: 120.80000305175781px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm66 {
  top: -2.1999969482421875px;
  color: rgba(113, 113, 113, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-thq-link-elm3 {
  gap: 8px;
  height: 57.60000228881836px;
  display: flex;
  padding: 0 155.33749389648438px 0 155.32501220703125px;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 107, 53, 1);
  border-style: solid;
  border-width: 0 0 1.600000023841858px;
  justify-content: center;
}
 
.staff-shift-thq-icon-elm9 {
  width: 20px;
  height: 20px;
}
 
.staff-shift-thq-staff-layout-elm5 {
  width: 32px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.staff-shift-thq-text-elm67 {
  top: -2.1999969482421875px;
  color: rgba(255, 107, 53, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.staff-shift-link {
  display: contents;
}
 
.staff-shift-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.staff-shift-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.staff-shift-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
