<div class="staff-shift-container1">
  <div class="staff-shift-thq-staff-shift-elm1">
    <div class="staff-shift-thq-staff-layout-elm1">
      <div class="staff-shift-thq-header-elm">
        <div class="staff-shift-thq-container-elm10">
          <div class="staff-shift-thq-container-elm11">
            <div class="staff-shift-thq-heading2-elm">
              <span class="staff-shift-thq-text-elm10">Staff POS System</span>
            </div>
            <div class="staff-shift-thq-paragraph-elm10">
              <span class="staff-shift-thq-text-elm11">
                Table &amp; Order Management
              </span>
            </div>
          </div>
          <button class="staff-shift-thq-button-elm1">
            <img
              src="/assets/icon3513-zo11.svg"
              alt="Icon3513"
              class="staff-shift-thq-icon-elm1"
            />
            <div class="staff-shift-thq-text-elm12">
              <span class="staff-shift-thq-text-elm13">Logout</span>
            </div>
          </button>
        </div>
      </div>
      <div class="staff-shift-thq-staff-shift-elm2">
        <div class="staff-shift-thq-container-elm12">
          <div class="staff-shift-thq-container-elm13">
            <div class="staff-shift-thq-container-elm14">
              <div class="staff-shift-thq-heading3-elm1">
                <span class="staff-shift-thq-text-elm14">Current Shift</span>
              </div>
              <div class="staff-shift-thq-paragraph-elm11">
                <span class="staff-shift-thq-text-elm15">
                  Started at 9:00 AM
                </span>
              </div>
            </div>
            <div class="staff-shift-thq-container-elm15">
              <span class="staff-shift-thq-text-elm16">Active</span>
            </div>
          </div>
          <div class="staff-shift-thq-container-elm16">
            <img
              src="/assets/icon3513-916.svg"
              alt="Icon3513"
              class="staff-shift-thq-icon-elm2"
            />
            <div class="staff-shift-thq-text-elm17">
              <span class="staff-shift-thq-text-elm18">Duration: 6h 45m</span>
            </div>
          </div>
        </div>
        <div class="staff-shift-thq-container-elm17">
          <div class="staff-shift-thq-container-elm18">
            <div class="staff-shift-thq-container-elm19">
              <div class="staff-shift-thq-container-elm20">
                <img
                  src="/assets/icon3513-xkte.svg"
                  alt="Icon3513"
                  class="staff-shift-thq-icon-elm3"
                />
              </div>
              <div class="staff-shift-thq-container-elm21">
                <div class="staff-shift-thq-paragraph-elm12">
                  <span class="staff-shift-thq-text-elm19">Tables Served</span>
                </div>
                <div class="staff-shift-thq-paragraph-elm13">
                  <span class="staff-shift-thq-text-elm20">24</span>
                </div>
              </div>
            </div>
          </div>
          <div class="staff-shift-thq-container-elm22">
            <div class="staff-shift-thq-container-elm23">
              <div class="staff-shift-thq-container-elm24">
                <img
                  src="/assets/icon3513-569r.svg"
                  alt="Icon3513"
                  class="staff-shift-thq-icon-elm4"
                />
              </div>
              <div class="staff-shift-thq-container-elm25">
                <div class="staff-shift-thq-paragraph-elm14">
                  <span class="staff-shift-thq-text-elm21">
                    Orders Processed
                  </span>
                </div>
                <div class="staff-shift-thq-paragraph-elm15">
                  <span class="staff-shift-thq-text-elm22">38</span>
                </div>
              </div>
            </div>
          </div>
          <div class="staff-shift-thq-container-elm26">
            <div class="staff-shift-thq-container-elm27">
              <div class="staff-shift-thq-container-elm28">
                <img
                  src="/assets/icon3513-qpw.svg"
                  alt="Icon3513"
                  class="staff-shift-thq-icon-elm5"
                />
              </div>
              <div class="staff-shift-thq-container-elm29">
                <div class="staff-shift-thq-paragraph-elm16">
                  <span class="staff-shift-thq-text-elm23">
                    Revenue Handled
                  </span>
                </div>
                <div class="staff-shift-thq-paragraph-elm17">
                  <span class="staff-shift-thq-text-elm24">$2840.50</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="staff-shift-thq-container-elm30">
          <div class="staff-shift-thq-heading3-elm2">
            <span class="staff-shift-thq-text-elm25">Recent Orders</span>
          </div>
          <div class="staff-shift-thq-container-elm31">
            <div class="staff-shift-thq-container-elm32">
              <div class="staff-shift-thq-container-elm33">
                <div class="staff-shift-thq-container-elm34">
                  <div class="staff-shift-thq-text-elm26">
                    <span class="staff-shift-thq-text-elm27">T1</span>
                  </div>
                </div>
                <div class="staff-shift-thq-container-elm35">
                  <div class="staff-shift-thq-paragraph-elm18">
                    <span class="staff-shift-thq-text-elm28">3:30 PM</span>
                  </div>
                  <div class="staff-shift-thq-paragraph-elm19">
                    <span class="staff-shift-thq-text-elm29">Completed</span>
                  </div>
                </div>
              </div>
              <div class="staff-shift-thq-container-elm36">
                <span class="staff-shift-thq-text-elm30">$86.00</span>
              </div>
            </div>
            <div class="staff-shift-thq-container-elm37">
              <div class="staff-shift-thq-container-elm38">
                <div class="staff-shift-thq-container-elm39">
                  <div class="staff-shift-thq-text-elm31">
                    <span class="staff-shift-thq-text-elm32">T4</span>
                  </div>
                </div>
                <div class="staff-shift-thq-container-elm40">
                  <div class="staff-shift-thq-paragraph-elm20">
                    <span class="staff-shift-thq-text-elm33">3:15 PM</span>
                  </div>
                  <div class="staff-shift-thq-paragraph-elm21">
                    <span class="staff-shift-thq-text-elm34">Completed</span>
                  </div>
                </div>
              </div>
              <div class="staff-shift-thq-container-elm41">
                <span class="staff-shift-thq-text-elm35">$124.00</span>
              </div>
            </div>
            <div class="staff-shift-thq-container-elm42">
              <div class="staff-shift-thq-container-elm43">
                <div class="staff-shift-thq-container-elm44">
                  <div class="staff-shift-thq-text-elm36">
                    <span class="staff-shift-thq-text-elm37">T6</span>
                  </div>
                </div>
                <div class="staff-shift-thq-container-elm45">
                  <div class="staff-shift-thq-paragraph-elm22">
                    <span class="staff-shift-thq-text-elm38">2:45 PM</span>
                  </div>
                  <div class="staff-shift-thq-paragraph-elm23">
                    <span class="staff-shift-thq-text-elm39">Completed</span>
                  </div>
                </div>
              </div>
              <div class="staff-shift-thq-container-elm46">
                <span class="staff-shift-thq-text-elm40">$32.00</span>
              </div>
            </div>
            <div class="staff-shift-thq-container-elm47">
              <div class="staff-shift-thq-container-elm48">
                <div class="staff-shift-thq-container-elm49">
                  <div class="staff-shift-thq-text-elm41">
                    <span class="staff-shift-thq-text-elm42">T9</span>
                  </div>
                </div>
                <div class="staff-shift-thq-container-elm50">
                  <div class="staff-shift-thq-paragraph-elm24">
                    <span class="staff-shift-thq-text-elm43">2:30 PM</span>
                  </div>
                  <div class="staff-shift-thq-paragraph-elm25">
                    <span class="staff-shift-thq-text-elm44">Completed</span>
                  </div>
                </div>
              </div>
              <div class="staff-shift-thq-container-elm51">
                <span class="staff-shift-thq-text-elm45">$156.00</span>
              </div>
            </div>
            <div class="staff-shift-thq-container-elm52">
              <div class="staff-shift-thq-container-elm53">
                <div class="staff-shift-thq-container-elm54">
                  <div class="staff-shift-thq-text-elm46">
                    <span class="staff-shift-thq-text-elm47">T2</span>
                  </div>
                </div>
                <div class="staff-shift-thq-container-elm55">
                  <div class="staff-shift-thq-paragraph-elm26">
                    <span class="staff-shift-thq-text-elm48">2:00 PM</span>
                  </div>
                  <div class="staff-shift-thq-paragraph-elm27">
                    <span class="staff-shift-thq-text-elm49">Completed</span>
                  </div>
                </div>
              </div>
              <div class="staff-shift-thq-container-elm56">
                <span class="staff-shift-thq-text-elm50">$78.00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="staff-shift-thq-container-elm57">
          <div class="staff-shift-thq-heading3-elm3">
            <span class="staff-shift-thq-text-elm51">Shift Summary</span>
          </div>
          <div class="staff-shift-thq-container-elm58">
            <div class="staff-shift-thq-container-elm59">
              <div class="staff-shift-thq-text-elm52">
                <span class="staff-shift-thq-text-elm53">
                  Average Order Value
                </span>
              </div>
              <div class="staff-shift-thq-text-elm54">
                <span class="staff-shift-thq-text-elm55">$74.75</span>
              </div>
            </div>
            <div class="staff-shift-thq-container-elm60">
              <div class="staff-shift-thq-text-elm56">
                <span class="staff-shift-thq-text-elm57">
                  Average Service Time
                </span>
              </div>
              <div class="staff-shift-thq-text-elm58">
                <span class="staff-shift-thq-text-elm59">18 minutes</span>
              </div>
            </div>
            <div class="staff-shift-thq-container-elm61">
              <div class="staff-shift-thq-text-elm60">
                <span class="staff-shift-thq-text-elm61">Total Tips</span>
              </div>
              <div class="staff-shift-thq-text-elm62">
                <span class="staff-shift-thq-text-elm63">$284.00</span>
              </div>
            </div>
          </div>
          <button class="staff-shift-thq-button-elm2">
            <img
              src="/assets/icon3514-sjs.svg"
              alt="Icon3514"
              class="staff-shift-thq-icon-elm6"
            />
            <span class="staff-shift-thq-text-elm64">End Shift</span>
          </button>
        </div>
      </div>
    </div>
    <div class="staff-shift-thq-staff-layout-elm2">
      <div class="staff-shift-thq-link-elm1">
        <img
          src="/assets/icon3514-39e.svg"
          alt="Icon3514"
          class="staff-shift-thq-icon-elm7"
        />
        <div class="staff-shift-thq-staff-layout-elm3">
          <span class="staff-shift-thq-text-elm65">Tables</span>
        </div>
      </div>
      <div class="staff-shift-thq-link-elm2">
        <img
          src="/assets/icon3514-4g7.svg"
          alt="Icon3514"
          class="staff-shift-thq-icon-elm8"
        />
        <div class="staff-shift-thq-staff-layout-elm4">
          <span class="staff-shift-thq-text-elm66">Payments History</span>
        </div>
      </div>
      <div class="staff-shift-thq-link-elm3">
        <img
          src="/assets/icon3514-9x3.svg"
          alt="Icon3514"
          class="staff-shift-thq-icon-elm9"
        />
        <div class="staff-shift-thq-staff-layout-elm5">
          <span class="staff-shift-thq-text-elm67">Shift</span>
        </div>
      </div>
    </div>
  </div>
  <a href="https://play.teleporthq.io/signup" class="staff-shift-link">
    <div aria-label="Sign up to TeleportHQ" class="staff-shift-container2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="staff-shift-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="staff-shift-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
