<div class="customer-home-container1">
  <div class="customer-home-thq-customer-home-elm1">
    <div class="customer-home-thq-customer-layout-elm1">
      <div class="customer-home-thq-customer-home-elm2">
        <div class="customer-home-thq-container-elm10">
          <div class="customer-home-thq-image-with-fallback-elm1"></div>
          <div class="customer-home-thq-container-elm11">
            <div class="customer-home-thq-container-elm12">
              <div class="customer-home-thq-container-elm13">
                <div class="customer-home-thq-heading1-elm">
                  <span class="customer-home-thq-text-elm10">
                    La Cuisine Moderne
                  </span>
                </div>
                <div class="customer-home-thq-paragraph-elm10">
                  <span class="customer-home-thq-text-elm11">
                    Fine Dining Experience
                  </span>
                </div>
              </div>
              <div class="customer-home-thq-container-elm14">
                <span class="customer-home-thq-text-elm12">OPEN NOW</span>
              </div>
            </div>
          </div>
        </div>
        <div class="customer-home-thq-container-elm15">
          <button class="customer-home-thq-button-elm1">
            <img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Icon3526"
              class="customer-home-thq-icon-elm10"
            />
            <div class="customer-home-thq-container-elm16">
              <div class="customer-home-thq-paragraph-elm11">
                <span class="customer-home-thq-text-elm13">Book a Table</span>
              </div>
              <div class="customer-home-thq-paragraph-elm12">
                <span class="customer-home-thq-text-elm14">
                  Select your favorite spot
                </span>
              </div>
            </div>
          </button>
          <div class="customer-home-thq-container-elm17">
            <div class="customer-home-thq-container-elm18">
              <img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Icon3527"
                class="customer-home-thq-icon-elm11"
              />
              <div class="customer-home-thq-paragraph-elm13">
                <span class="customer-home-thq-text-elm15">Next Slot</span>
              </div>
              <div class="customer-home-thq-paragraph-elm14">
                <span class="customer-home-thq-text-elm16">Today, 7:30 PM</span>
              </div>
            </div>
            <div class="customer-home-thq-container-elm19">
              <img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Icon3528"
                class="customer-home-thq-icon-elm12"
              />
              <div class="customer-home-thq-paragraph-elm15">
                <span class="customer-home-thq-text-elm17">Distance</span>
              </div>
              <div class="customer-home-thq-paragraph-elm16">
                <span class="customer-home-thq-text-elm18">0.8 miles away</span>
              </div>
            </div>
          </div>
          <div class="customer-home-thq-container-elm20">
            <div class="customer-home-thq-container-elm21">
              <div class="customer-home-thq-container-elm22">
                <img
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  alt="Icon3529"
                  class="customer-home-thq-icon-elm13"
                />
              </div>
              <div class="customer-home-thq-container-elm23">
                <div class="customer-home-thq-paragraph-elm17">
                  <span class="customer-home-thq-text-elm19">Explore Menu</span>
                </div>
                <div class="customer-home-thq-paragraph-elm18">
                  <span class="customer-home-thq-text-elm20">
                    Seasonal specialties
                  </span>
                </div>
              </div>
            </div>
            <button class="customer-home-thq-button-elm2">
              <span class="customer-home-thq-text-elm21">View</span>
            </button>
          </div>
          <div class="customer-home-thq-container-elm24">
            <div class="customer-home-thq-container-elm25">
              <div class="customer-home-thq-heading3-elm">
                <span class="customer-home-thq-text-elm22">
                  Chef&apos;s Recommendations
                </span>
              </div>
              <button class="customer-home-thq-button-elm3">
                <span class="customer-home-thq-text-elm23">Show More</span>
              </button>
            </div>
            <div class="customer-home-thq-container-elm26">
              <div class="customer-home-thq-container-elm27">
                <div class="customer-home-thq-paragraph-elm19">
                  <span class="customer-home-thq-text-elm24">
                    Truffle Pasta
                  </span>
                </div>
                <div class="customer-home-thq-container-elm28">
                  <div class="customer-home-thq-image-with-fallback-elm2"></div>
                  <div class="customer-home-thq-container-elm29">
                    <span class="customer-home-thq-text-elm25">$28</span>
                  </div>
                </div>
              </div>
              <div class="customer-home-thq-container-elm30">
                <div class="customer-home-thq-paragraph-elm20">
                  <span class="customer-home-thq-text-elm26">
                    Grilled Salmon
                  </span>
                </div>
                <div class="customer-home-thq-container-elm31">
                  <div class="customer-home-thq-image-with-fallback-elm3"></div>
                  <div class="customer-home-thq-container-elm32">
                    <span class="customer-home-thq-text-elm27">$35</span>
                  </div>
                </div>
              </div>
              <div class="customer-home-thq-container-elm33">
                <div class="customer-home-thq-paragraph-elm21">
                  <span class="customer-home-thq-text-elm28">
                    Chocolate Lava
                  </span>
                </div>
                <div class="customer-home-thq-container-elm34">
                  <div class="customer-home-thq-image-with-fallback-elm4"></div>
                  <div class="customer-home-thq-container-elm35">
                    <span class="customer-home-thq-text-elm29">$12</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-home-thq-customer-layout-elm2">
      <div class="customer-home-thq-container-elm36">
        <div class="customer-home-thq-link-elm1">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3533"
            class="customer-home-thq-icon-elm14"
          />
          <div class="customer-home-thq-customer-layout-elm3">
            <span class="customer-home-thq-text-elm30">Home</span>
          </div>
        </div>
        <div class="customer-home-thq-link-elm2">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3533"
            class="customer-home-thq-icon-elm15"
          />
          <div class="customer-home-thq-customer-layout-elm4">
            <span class="customer-home-thq-text-elm31">Menu</span>
          </div>
        </div>
        <div class="customer-home-thq-link-elm3">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3534"
            class="customer-home-thq-icon-elm16"
          />
          <div class="customer-home-thq-customer-layout-elm5">
            <span class="customer-home-thq-text-elm32">Reservations</span>
          </div>
        </div>
        <div class="customer-home-thq-link-elm4">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3535"
            class="customer-home-thq-icon-elm17"
          />
          <div class="customer-home-thq-customer-layout-elm6">
            <span class="customer-home-thq-text-elm33">Profile</span>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-home-thq-customer-layout-elm7">
      <div class="customer-home-thq-container-elm37">
        <div class="customer-home-thq-container-elm38">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3536"
            class="customer-home-thq-icon-elm18"
          />
        </div>
        <div class="customer-home-thq-text-elm34">
          <span class="customer-home-thq-text-elm35">Gastros</span>
        </div>
      </div>
      <button class="customer-home-thq-button-elm4">
        <img
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          alt="Icon3537"
          class="customer-home-thq-icon-elm19"
        />
      </button>
    </div>
  </div>
  <a href="https://play.teleporthq.io/signup" class="customer-home-link">
    <div aria-label="Sign up to TeleportHQ" class="customer-home-container2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="customer-home-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="customer-home-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
