<div class="customer-profile-container1">
  <div class="customer-profile-thq-customer-profile-elm1">
    <div class="customer-profile-thq-customer-layout-elm1">
      <div class="customer-profile-thq-customer-profile-elm2">
        <div class="customer-profile-thq-container-elm10">
          <div class="customer-profile-thq-heading2-elm">
            <span class="customer-profile-thq-text-elm10">My Profile</span>
          </div>
        </div>
        <div class="customer-profile-thq-container-elm11">
          <div class="customer-profile-thq-container-elm12">
            <div class="customer-profile-thq-container-elm13">
              <div class="customer-profile-thq-container-elm14">
                <img
                  src="/assets/icon3576-6qxb.svg"
                  alt="Icon3576"
                  class="customer-profile-thq-icon-elm10"
                />
              </div>
              <div class="customer-profile-thq-container-elm15">
                <div class="customer-profile-thq-heading3-elm1">
                  <span class="customer-profile-thq-text-elm11">John Doe</span>
                </div>
                <div class="customer-profile-thq-paragraph-elm10">
                  <span class="customer-profile-thq-text-elm12">
                    Member since Jan 2026
                  </span>
                </div>
              </div>
            </div>
            <div class="customer-profile-thq-container-elm16">
              <div class="customer-profile-thq-container-elm17">
                <img
                  src="/assets/icon3577-d3q.svg"
                  alt="Icon3577"
                  class="customer-profile-thq-icon-elm11"
                />
                <div class="customer-profile-thq-text-elm13">
                  <span class="customer-profile-thq-text-elm14">
                    john.doe@email.com
                  </span>
                </div>
              </div>
              <div class="customer-profile-thq-container-elm18">
                <img
                  src="/assets/icon3578-kovah.svg"
                  alt="Icon3578"
                  class="customer-profile-thq-icon-elm12"
                />
                <div class="customer-profile-thq-text-elm15">
                  <span class="customer-profile-thq-text-elm16">
                    +1 (555) 123-4567
                  </span>
                </div>
              </div>
              <div class="customer-profile-thq-container-elm19">
                <img
                  src="/assets/icon3578-3q9.svg"
                  alt="Icon3578"
                  class="customer-profile-thq-icon-elm13"
                />
                <div class="customer-profile-thq-text-elm17">
                  <span class="customer-profile-thq-text-elm18">
                    Downtown, City 12345
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="customer-profile-thq-container-elm20">
            <div class="customer-profile-thq-container-elm21">
              <img
                src="/assets/icon3579-dwuk.svg"
                alt="Icon3579"
                class="customer-profile-thq-icon-elm14"
              />
              <div class="customer-profile-thq-heading3-elm2">
                <span class="customer-profile-thq-text-elm19">
                  Reservation History
                </span>
              </div>
            </div>
            <div class="customer-profile-thq-container-elm22">
              <div class="customer-profile-thq-container-elm23">
                <div class="customer-profile-thq-container-elm24">
                  <div class="customer-profile-thq-paragraph-elm11">
                    <span class="customer-profile-thq-text-elm20">
                      March 10, 2026
                    </span>
                  </div>
                  <div class="customer-profile-thq-paragraph-elm12">
                    <span class="customer-profile-thq-text-elm21">
                      7:00 PM · 2 guests
                    </span>
                  </div>
                </div>
                <button class="customer-profile-thq-button-elm1">
                  <span class="customer-profile-thq-text-elm22">
                    Book Again
                  </span>
                </button>
              </div>
              <div class="customer-profile-thq-container-elm25">
                <div class="customer-profile-thq-container-elm26">
                  <div class="customer-profile-thq-paragraph-elm13">
                    <span class="customer-profile-thq-text-elm23">
                      February 25, 2026
                    </span>
                  </div>
                  <div class="customer-profile-thq-paragraph-elm14">
                    <span class="customer-profile-thq-text-elm24">
                      6:30 PM · 4 guests
                    </span>
                  </div>
                </div>
                <button class="customer-profile-thq-button-elm2">
                  <span class="customer-profile-thq-text-elm25">
                    Book Again
                  </span>
                </button>
              </div>
              <div class="customer-profile-thq-container-elm27">
                <div class="customer-profile-thq-container-elm28">
                  <div class="customer-profile-thq-paragraph-elm15">
                    <span class="customer-profile-thq-text-elm26">
                      February 14, 2026
                    </span>
                  </div>
                  <div class="customer-profile-thq-paragraph-elm16">
                    <span class="customer-profile-thq-text-elm27">
                      8:00 PM · 2 guests
                    </span>
                  </div>
                </div>
                <button class="customer-profile-thq-button-elm3">
                  <span class="customer-profile-thq-text-elm28">
                    Book Again
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="customer-profile-thq-container-elm29">
            <div class="customer-profile-thq-container-elm30">
              <img
                src="/assets/icon3582-9unl.svg"
                alt="Icon3582"
                class="customer-profile-thq-icon-elm15"
              />
              <div class="customer-profile-thq-heading3-elm3">
                <span class="customer-profile-thq-text-elm29">
                  Favorite Dishes
                </span>
              </div>
            </div>
            <div class="customer-profile-thq-container-elm31">
              <div class="customer-profile-thq-container-elm32">
                <div class="customer-profile-thq-container-elm33">
                  <div class="customer-profile-thq-paragraph-elm17">
                    <span class="customer-profile-thq-text-elm30">
                      Truffle Pasta
                    </span>
                  </div>
                  <div class="customer-profile-thq-paragraph-elm18">
                    <span class="customer-profile-thq-text-elm31">
                      Ordered 5 times
                    </span>
                  </div>
                </div>
                <img
                  src="/assets/icon3583-xdh.svg"
                  alt="Icon3583"
                  class="customer-profile-thq-icon-elm16"
                />
              </div>
              <div class="customer-profile-thq-container-elm34">
                <div class="customer-profile-thq-container-elm35">
                  <div class="customer-profile-thq-paragraph-elm19">
                    <span class="customer-profile-thq-text-elm32">
                      Grilled Salmon
                    </span>
                  </div>
                  <div class="customer-profile-thq-paragraph-elm20">
                    <span class="customer-profile-thq-text-elm33">
                      Ordered 3 times
                    </span>
                  </div>
                </div>
                <img
                  src="/assets/icon3584-sof.svg"
                  alt="Icon3584"
                  class="customer-profile-thq-icon-elm17"
                />
              </div>
              <div class="customer-profile-thq-container-elm36">
                <div class="customer-profile-thq-container-elm37">
                  <div class="customer-profile-thq-paragraph-elm21">
                    <span class="customer-profile-thq-text-elm34">
                      Chocolate Lava
                    </span>
                  </div>
                  <div class="customer-profile-thq-paragraph-elm22">
                    <span class="customer-profile-thq-text-elm35">
                      Ordered 4 times
                    </span>
                  </div>
                </div>
                <img
                  src="/assets/icon3585-jq2b.svg"
                  alt="Icon3585"
                  class="customer-profile-thq-icon-elm18"
                />
              </div>
            </div>
          </div>
          <div class="customer-profile-thq-container-elm38">
            <button class="customer-profile-thq-button-elm4">
              <img
                src="/assets/icon3585-t04h.svg"
                alt="Icon3585"
                class="customer-profile-thq-icon-elm19"
              />
              <div class="customer-profile-thq-paragraph-elm23">
                <span class="customer-profile-thq-text-elm36">
                  New Reservation
                </span>
              </div>
            </button>
            <button class="customer-profile-thq-button-elm5">
              <img
                src="/assets/icon3586-sfh.svg"
                alt="Icon3586"
                class="customer-profile-thq-icon-elm20"
              />
              <div class="customer-profile-thq-paragraph-elm24">
                <span class="customer-profile-thq-text-elm37">
                  Edit Profile
                </span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-profile-thq-customer-layout-elm2">
      <div class="customer-profile-thq-container-elm39">
        <div class="customer-profile-thq-link-elm1">
          <img
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            alt="Icon3587"
            class="customer-profile-thq-icon-elm21"
          />
          <div class="customer-profile-thq-customer-layout-elm3">
            <span class="customer-profile-thq-text-elm38">Home</span>
          </div>
        </div>
        <div class="customer-profile-thq-link-elm2">
          <img
            src="/assets/icon3587-tqeu.svg"
            alt="Icon3587"
            class="customer-profile-thq-icon-elm22"
          />
          <div class="customer-profile-thq-customer-layout-elm4">
            <span class="customer-profile-thq-text-elm39">Menu</span>
          </div>
        </div>
        <div class="customer-profile-thq-link-elm3">
          <img
            src="/assets/icon3588-gfoh.svg"
            alt="Icon3588"
            class="customer-profile-thq-icon-elm23"
          />
          <div class="customer-profile-thq-customer-layout-elm5">
            <span class="customer-profile-thq-text-elm40">Reservations</span>
          </div>
        </div>
        <div class="customer-profile-thq-link-elm4">
          <img
            src="/assets/icon3589-qof.svg"
            alt="Icon3589"
            class="customer-profile-thq-icon-elm24"
          />
          <div class="customer-profile-thq-customer-layout-elm6">
            <span class="customer-profile-thq-text-elm41">Profile</span>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-profile-thq-customer-layout-elm7">
      <div class="customer-profile-thq-container-elm40">
        <div class="customer-profile-thq-container-elm41">
          <img
            src="/assets/icon3590-vc7.svg"
            alt="Icon3590"
            class="customer-profile-thq-icon-elm25"
          />
        </div>
        <div class="customer-profile-thq-text-elm42">
          <span class="customer-profile-thq-text-elm43">Gastros</span>
        </div>
      </div>
      <button class="customer-profile-thq-button-elm6">
        <img
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          alt="Icon3591"
          class="customer-profile-thq-icon-elm26"
        />
      </button>
    </div>
  </div>
  <a href="https://play.teleporthq.io/signup" class="customer-profile-link">
    <div aria-label="Sign up to TeleportHQ" class="customer-profile-container2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="customer-profile-icon1"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="customer-profile-text">Built in TeleportHQ</span>
    </div>
  </a>
</div>
