<div class="loginform-container1">
  <div class="loginform-thq-loginform-elm">
    <div class="loginform-thq-container-elm10">
      <div class="loginform-thq-container-elm11">
        <div class="loginform-thq-heading1-elm">
          <span class="loginform-thq-text-elm10">Welcome Back</span>
        </div>
        <div class="loginform-thq-paragraph-elm1">
          <span class="loginform-thq-text-elm11">
            Enter your credentials to continue
          </span>
        </div>
        <div class="loginform-thq-form-elm">
          <div class="loginform-thq-container-elm12">
            <div class="loginform-thq-label-elm1">
              <span class="loginform-thq-text-elm12">
                Username
              </span>
            </div>
            <div class="loginform-thq-container-elm13">
              <input
                type="text"
                placeholder="admin or staff"
                class="loginform-thq-text-input-elm"
                [(ngModel)]="username"
                (keyup.enter)="onLogin()"
              />
              <div class="loginform-thq-container-elm14">
                <img
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  alt="Icon3511"
                  class="loginform-thq-icon-elm1"
                />
              </div>
            </div>
          </div>
          <div class="loginform-thq-container-elm15">
            <div class="loginform-thq-label-elm2">
              <span class="loginform-thq-text-elm13">Password</span>
            </div>
            <div class="loginform-thq-container-elm16">
              <input
                type="password"
                placeholder="••••••••"
                class="loginform-thq-password-input-elm"
                [(ngModel)]="password"
                (keyup.enter)="onLogin()"
              />
              <div class="loginform-thq-container-elm17">
                <img
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  alt="Icon3512"
                  class="loginform-thq-icon-elm2"
                />
              </div>
            </div>
          </div>
          <div *ngIf="errorMessage" style="padding: 8px 4px;">
            <span style="color: #e53e3e; font-size: 13px; font-family: Inter; font-weight: 600;">
              {{ errorMessage }}
            </span>
          </div>
          <div class="loginform-thq-container-elm18">
            <div class="loginform-thq-label-elm3">
              <div class="loginform-thq-checkbox-elm"></div>
              <div class="loginform-thq-text-elm14">
                <span class="loginform-thq-text-elm15">Remember me</span>
              </div>
            </div>
            <button class="loginform-thq-button-elm2">
              <span class="loginform-thq-text-elm16">Forgot Password?</span>
            </button>
          </div>
          <button class="loginform-thq-button-elm3" (click)="onLogin()">
            <span class="loginform-thq-text-elm17">Login</span>
            <img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Icon3514"
              class="loginform-thq-icon-elm4"
            />
          </button>
        </div>
        <div class="loginform-thq-container-elm19">
          <div class="loginform-thq-paragraph-elm2">
            <span class="loginform-thq-text-elm18">Quick Demo Access</span>
          </div>
          <div class="loginform-thq-container-elm20">
            <button class="loginform-thq-button-elm4" (click)="quickLogin('customer')">
              <span class="loginform-thq-text-elm19">Customer</span>
            </button>
            <button class="loginform-thq-button-elm5" (click)="quickLogin('staff')">
              <span class="loginform-thq-text-elm20">Staff</span>
            </button>
            <button class="loginform-thq-button-elm6" (click)="quickLogin('manager')">
              <span class="loginform-thq-text-elm21">Manager</span>
            </button>
          </div>
        </div>
        <div class="loginform-thq-container-elm21">
          <div class="loginform-thq-paragraph-elm3">
            <span class="loginform-thq-text-elm22">
              New to Gastros?
              <span [innerHTML]="raw5tbd"></span>
            </span>
            <button class="loginform-thq-button-elm7" routerLink="/registerform">
              <span class="loginform-thq-text-elm23">Create an account</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="loginform-thq-container-elm22">
      <div class="loginform-thq-image-restaurant-interior-elm"></div>
      <div class="loginform-thq-container-elm23"></div>
      <div class="loginform-thq-container-elm24">
        <div class="loginform-thq-container-elm25">
          <div class="loginform-thq-container-elm26">
            <img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Icon3516"
              class="loginform-thq-icon-elm5"
            />
          </div>
          <div class="loginform-thq-heading2-elm">
            <span class="loginform-thq-text-elm24">Gastros</span>
          </div>
        </div>
        <div class="loginform-thq-heading3-elm">
          <span class="loginform-thq-text-elm25">
            Manage your flavors
            <span [innerHTML]="rawt6nt"></span>
          </span>
          <span class="loginform-thq-text-elm26">anywhere you are.</span>
        </div>
        <div class="loginform-thq-paragraph-elm4">
          <span class="loginform-thq-text-elm27">
            The all-in-one platform for rapid restaurant operations, bookings,
            and analytics.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
